@using Seaboard.Intranet.Domain;
@using Seaboard.Intranet.BusinessLogic;
@using Microsoft.AspNet.Identity;
@model IEnumerable<DigitalDocument>
@{
    ViewBag.Title = "Listado de documentos digitales";
    Layout = "~/Views/Shared/_HRLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Listado de documentos digitales</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "HumanResources")">Inicio</a>
            </li>
            <li class="active">
                <strong>Listado de documentos digitales</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de casos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            @Html.ActionLink("NUEVO DOCUMENTO", "DocumentManagement", "HumanResources", new { id = "" }, new { @class = "btn btn-primary" })
                            <div class="hr-line-dashed"></div>
                            <table class="table table-striped table-bordered table-hover informationTable">
                                <thead>
                                    <tr>
                                        <th>Id. de documento</th>
                                        <th>Nombre</th>
                                        <th>Descripcion</th>
                                        <th>Idioma</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.ActionLink(item.DocumentId, "DocumentManagement", new { id = item.DocumentId })</td>
                                            <td>@item.Name</td>
                                            <td>@item.Description</td>
                                            <td>@item.Language</td>
                                            <td>@item.DocumentDate.ToShortDateString()</td>
                                            <td>
                                                @if (!item.Status)
                                                {
                                                    <i class="badge badge-success"> Activo</i>
                                                }
                                                else
                                                {
                                                    <i class="badge badge-danger"> Inactivo</i>
                                                }
                                            <td>
                                                <div class="btn-group-xs">
                                                    <button class="btn btn-danger btn-xs" onclick="deleteDocument('@item.DocumentId')">Eliminar</button>
                                                    <button class="btn btn-primary" onclick="voidDocument('@item.DocumentId', '@(item.Status ? 0 : 1)')">@(item.Status ? "Activar" : "Desactivar")</button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/sweetAlert")

<script>
    $(document).ready(function () {
        $('.informationTable').DataTable({
            pageLength: 10,
            order: [[0, "desc"]],
            dom: '<"html5buttons"B>lTfgitp',
            language: {
                "sProcessing": "Procesando... ",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:  ",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            },
            oAria: {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            },
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]
        });
    });
    function voidDocument(documentId, status) {
        swal({
            title: "Someter",
            text: "Esta seguro que desea ejecutar esta accion ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, adelante!",
            cancelButtonText: "No, cancelar!",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: '@Url.Action("VoidDigitalDocument", "HumanResources")',
                type: "POST",
                data: JSON.stringify({ documentId: documentId, status: status }),
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    if (result.status === "OK") {
                        window.location.reload();
                    } else {
                        swal({
                            title: "ERROR",
                            text: result.status,
                            type: "error"
                        });
                    }
                }
            });
        });
    }
    function deleteDocument(documentId) {
        swal({
            title: "Eliminar",
            text: "Esta seguro que desea eliminar este documento ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Si, eliminalo!",
            cancelButtonText: "No, cancelar!",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url: '@Url.Action("DeleteDigitalDocument", "HumanResources")?documentId=' + documentId,
                type: "POST",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    if (result.status === "OK") {
                        window.location.reload();
                    } else {
                        swal({
                            title: "ERROR",
                            text: result.status,
                            type: "error"
                        });
                    }
                }
            });
        });
    }
</script>
}
