@model IEnumerable<Seaboard.Intranet.Domain.EmployeeDigitalDocument>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Listado de documentos a firmar";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Listado de documentos a firmar</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="active">
                <strong>Listado de documentos a firmar</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de documentos a firmar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options">
                                        <ul class="nav nav-tabs">
                                            <li id="tabButton1" class="active"><a href="#tab-1" data-toggle="tab">Pendientes</a></li>
                                            <li id="tabButton2" class=""><a href="#tab-2" data-toggle="tab">Sometidos</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <div class="tab-content" id="tabContainer">
                                        <div class="tab-pane active" id="tab-1">
                                            <table class="table table-striped table-bordered table-hover informationTable">
                                                <thead>
                                                    <tr>
                                                        <th style="width:15%">Id. de documento</th>
                                                        <th style="width:25%">Nombre documento</th>
                                                        <th style="width:35%">Descripción</th>
                                                        <th style="width:15%">Fecha enviada</th>
                                                        <th style="width:10%">Estado</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.Where(x => !x.Status))
                                                    {
                                                        <tr>
                                                            <td>@Html.ActionLink(item.DocumentId, "EmployeeDocumentHandling", new { id = item.DocumentId, employeeId = item.EmployeeId })</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.Description</td>
                                                            <td>@item.SendDate.ToString("dd/MM/yyyy")</td>
                                                            <td>
                                                                @if (!item.Status)
                                                                {
                                                                    <i class="badge badge-danger">No sometido</i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="badge badge-primary">Sometido</i>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane" id="tab-2">
                                            <table class="table table-striped table-bordered table-hover informationTable">
                                                <thead>
                                                    <tr>
                                                        <th style="width:15%">Id. de documento</th>
                                                        <th style="width:25%">Nombre documento</th>
                                                        <th style="width:35%">Descripción</th>
                                                        <th style="width:15%">Fecha enviada</th>
                                                        <th style="width:10%">Estado</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item in Model.Where(x => x.Status))
                                                    {
                                                        <tr>
                                                            <td>@Html.ActionLink(item.DocumentId, "PreviewEmployeeDocument", new { documentId = item.DocumentId, employeeId = item.EmployeeId }, new { @target = "_blank" })</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.Description</td>
                                                            <td>@item.SendDate.ToString("dd/MM/yyyy")</td>
                                                            <td>
                                                                @if (!item.Status)
                                                                {
                                                                    <i class="badge badge-danger">No sometido</i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="badge badge-primary">Sometido</i>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY">
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.informationTable').DataTable({
                pageLength: 10,
                order: [[0, "desc"]],
                dom: '<"html5buttons"B>lTfgitp',
                language: {
                    "sProcessing": "Procesando... ",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:  ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                oAria: {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });
    </script>
}