@using Seaboard.Intranet.Domain
@{
    Layout = "~/Views/Shared/_HRLayout.cshtml";
    ViewBag.Title = "Envio de documentos a empleados";
    var list = (List<DigitalDocument>)ViewBag.Documents;
}

<style>
    .glyphicon.fa {
        font-family: 'Glyphicons Halflings';
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Envio de documentos a empleados</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "HumanResources")">Inicio</a>
            </li>
            <li class="active">
                <strong>Envio de documentos a empleados</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>Envio de documentos a empleados</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="col-sm-12 col-sm-offset-1">
                                <button class="btn btn-success" type="button" onclick="enviar();"><i class="fa fa-search"></i> Enviar</button>
                                <button class="btn btn-primary" type="button" onclick="consultar();"><i class="fa fa-search"></i> Consultar</button>
                                <button class="btn btn-info" type="button" onclick="borrar();"><i class="fa fa-eraser"></i> Borrar</button>
                                <br />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="hr-line-dashed"></div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Empleado:</label>
                                <div class="col-sm-12 input-group">
                                    <input type="text" name="EmployeeIdFrom" id="EmployeeIdFrom" class="form-control" placeholder="Desde" />
                                    <span class="input-group-btn">
                                        <button id="lookupEmpleadoDesde" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="EmployeeIdTo" id="EmployeeIdTo" class="form-control" placeholder="Hasta" />
                                    <span class="input-group-btn">
                                        <button id="lookupEmpleadoHasta" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Grupo:</label>
                                <div class="col-sm-12 input-group">
                                    <input type="text" name="GroupIdFrom" id="GroupIdFrom" class="form-control" placeholder="Desde" />
                                    <span class="input-group-btn">
                                        <button id="lookupGrupoDesde" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="GroupIdTo" id="GroupIdTo" class="form-control" placeholder="Hasta" />
                                    <span class="input-group-btn">
                                        <button id="lookupGrupoHasta" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Departamento:</label>
                                <div class="col-sm-12 input-group">
                                    <input type="text" name="DepartmentIdFrom" id="DepartmentIdFrom" class="form-control" placeholder="Desde" />
                                    <span class="input-group-btn">
                                        <button id="lookupDepartamentoDesde" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="DepartmentIdTo" id="DepartmentIdTo" class="form-control" placeholder="Hasta" />
                                    <span class="input-group-btn">
                                        <button id="lookupDepartamentoHasta" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Incluir personalizado:</label>
                            <div class="table-responsive">
                                <table class="table" id="itemTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%">#</th>
                                            <th style="width: 30%">Id. de documento</th>
                                            <th style="width: 60%">Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in list)
                                        {
                                            <tr>
                                                <td><input type="checkbox" name="check" /></td>
                                                <td>@item.DocumentId</td>
                                                <td>@item.Name</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive" id="invoiceRows">
                        <table class="table table-striped table-bordered table-hover informationTable">
                            <thead>
                                <tr>
                                    <th style="width:15% ">Id. de empleado</th>
                                    <th style="width:25%">Nombre</th>
                                    <th style="width:15%">Departamento</th>
                                    <th style="width:15%">Posicion</th>
                                    <th style="width:15%">Identificacion</th>
                                    <th style="width:15%">Email</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/dateRangeStyles")
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")

    <script>
        var date;
        var details = [];
        $(document).ready(function () {
            $.formattedDate = function (dateToFormat) {
                var dateObject = new Date(dateToFormat);
                var day = dateObject.getDate();
                var month = dateObject.getMonth() + 1;
                var year = dateObject.getFullYear();
                day = day < 10 ? "0" + day : day;
                month = month < 10 ? "0" + month : month;
                var formattedDate = month + "/" + day + "/" + year;
                return formattedDate;
            };
            $('.informationTable').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                language: {
                    "sProcessing": "Procesando... ",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo":
                        "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                    "sInfoEmpty":
                        "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":
                        "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:  ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                oAria: {
                    "sSortAscending":
                        ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending":
                        ": Activar para ordenar la columna de manera descendente"
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
            $("#lookupEmpleadoDesde").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=18&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=EmployeeIdFrom]').val(data.EmployeeId);
                    $('input[name=EmployeeIdTo]').val(data.EmployeeId);
                },
                tableHeader: ['Id. de empleado', 'Nombre', 'Departamento'],
                hiddenFields: ['FirstName', 'LastName', 'Identification', 'JobTitle', 'Email', 'LastName']
            });
            $("#lookupEmpleadoHasta").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=18&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=EmployeeIdTo]').val(data.EmployeeId);
                },
                tableHeader: ['Id. de empleado', 'Nombre', 'Departamento'],
                hiddenFields: ['FirstName', 'LastName', 'Identification', 'JobTitle', 'Email', 'LastName']
            });
            $("#lookupGrupoDesde").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=50&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=GroupIdFrom]').val(data.Id);
                    $('input[name=GroupIdTo]').val(data.Id);
                },
                tableHeader: ['Id. de grupo', 'Descripción'],
                hiddenFields: ['DataExtended','DataPlus']
            });
            $("#lookupGrupoHasta").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=50&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=GroupIdTo]').val(data.Id);
                },
                tableHeader: ['Id. de grupo', 'Descripción'],
                hiddenFields: ['DataExtended','DataPlus']
            });
            $("#lookupDepartamentoDesde").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=48&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=DepartmentIdFrom]').val(data.Id);
                    $('input[name=DepartmentIdTo]').val(data.Id);
                },
                tableHeader: ['Id. de departamento', 'Descripción'],
                hiddenFields: ['DataExtended','DataPlus']
            });
            $("#lookupDepartamentoHasta").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=48&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=DepartmentIdTo]').val(data.Id);
                },
                tableHeader: ['Id. de departamento', 'Descripción'],
                hiddenFields: ['DataExtended','DataPlus']
            });
        });
        function consultar() {
            var isValid = true;

            if (isValid) {
                toastr.info('Estamos procesando su solicitud', 'Por favor espere');
                var data = {
                    employeeFrom: $('#EmployeeIdFrom').val(),
                    employeeTo: $('#EmployeeIdTo').val(),
                    groupFrom: $('#GroupIdFrom').val(),
                    groupTo: $('#GroupIdTo').val(),
                    departmentFrom: $('#DepartmentIdFrom').val(),
                    departmentTo: $('#DepartmentIdTo').val()
                }
                $.ajax({
                    url: '@Url.Action("SendEmployeeDocument", "HumanResources")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    async: false,
                    cache: false,
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status === "OK") {
                            var $table = $(' <table class="table table-striped table-bordered table-hover informationTable">');
                            $table.append(
                                '<thead>' +
                                '<tr>' +
                                '<th style="width:15% ">Id. de empleado</th>' +
                                '<th style="width:25%">Nombre</th>' +
                                '<th style="width:15%">Departamento</th>' +
                                '<th style="width:15%">Posicion</th>' +
                                '<th style="width:15%">Identificacion</th>' +
                                '<th style="width:15%">Email</th>' +
                                '</tr>' +
                                '</thead>');
                            if (d.registros.length > 0) {
                                var $tbody = $('<tbody/>');
                                $.each(d.registros, function (i, val) {
                                    var $row = $('<tr/>');
                                    $row.append($('<td/>').html(val.EmployeeId));
                                    $row.append($('<td/>').html(val.Name));
                                    $row.append($('<td/>').html(val.Department));
                                    $row.append($('<td/>').html(val.JobTitle));
                                    $row.append($('<td/>').html(val.Identification));
                                    $row.append($('<td/>').html(val.Email));
                                    $tbody.append($row);
                                });
                                $table.append($tbody);
                            }
                            $('#invoiceRows').html($table);
                            $($table).DataTable({
                                pageLength: 10,
                                dom: '<"html5buttons"B>lTfgitp',
                                language: {
                                    "sProcessing": "Procesando... ",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:  ",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    }
                                },
                                oAria: {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                buttons: [
                                    { extend: 'copy' },
                                    { extend: 'csv' },
                                    { extend: 'excel', title: 'ExampleFile' },
                                    { extend: 'pdf', title: 'ExampleFile' },

                                    {
                                        extend: 'print',
                                        customize: function (win) {
                                            $(win.document.body).addClass('white-bg');
                                            $(win.document.body).css('font-size', '10px');

                                            $(win.document.body).find('table')
                                                .addClass('compact')
                                                .css('font-size', 'inherit');
                                        }
                                    }
                                ]
                            });
                        }
                        else alert(d.status);
                    }
                });
            }
        }
        function borrar() {
            $('#EmployeeIdFrom,#EmployeeIdTo,#GroupIdFrom,#GroupIdTo,#DepartmentIdFrom,#DepartmentIdTo').val('');
        }
        function enviar() {
            swal({
                title: "Enviar",
                text: "Esta seguro que desea enviar los documentos de este lote ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, envialo!",
                cancelButtonText: "No, cancelar!",
                closeOnConfirm: false
            }, function () {
                $('#itemTable > tbody > tr').each(function () {
                    if ($(this).find('td:eq(0) input').is(':checked')) {
                        details.push($(this).find('td:eq(1)').html());
                    }
                });
                var data = {
                    employeeFrom: $('#EmployeeIdFrom').val(),
                    employeeTo: $('#EmployeeIdTo').val(),
                    groupFrom: $('#GroupIdFrom').val(),
                    groupTo: $('#GroupIdTo').val(),
                    departmentFrom: $('#DepartmentIdFrom').val(),
                    departmentTo: $('#DepartmentIdTo').val(),
                    includeDocuments: details
                }
                $.ajax({
                    url: '@Url.Action("SendEmployeeDocumentProcess", "HumanResources")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    async: false,
                    cache: false,
                    contentType: "application/json",
                    success: function (result) {
                        if (result.status === "OK") {
                            window.location.href = '@Url.Action("SendEmployeeDocumentIndex", "HumanResources")';
                        } else {
                            swal({
                                title: "ERROR",
                                text: result.status,
                                type: "error"
                            });
                        }
                    }
                });
            });
        }
    </script>
}