@{
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
    ViewBag.Title = "Reporte de estado de cuentas cliente";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Reporte de estado de cuentas cliente</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="active">
                <strong>Reporte de estado de cuentas cliente</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>Reporte de estado de cuentas cliente</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="col-sm-12 col-sm-offset-1">
                                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-Print"><i class="fa fa-print"></i> Imprimir</button>
                                <br />
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="hr-line-dashed"></div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Fecha de corte:</label>
                                <div class="col-sm-6 input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="CutDate" name="CutDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Resumir en:</label>
                                <div class="col-sm-6 input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input id="SummaryDate" name="SummaryDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">Id. de cliente:</label>
                                <div class="col-sm-6 input-group">
                                    <input type="text" name="CustomerId" id="CustomerId" class="form-control" />
                                    <span class="input-group-btn">
                                        <button id="lookupCliente" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-Print" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Imprimir</h4>
                </div>

                <div class="modal-body">
                    <p>Imprimir reporte</p>
                    <div class="form-group">
                        <label>Opción</label>
                        <select class="form-control" id="printOption" name="printOption">
                            <option value="10">PDF</option>
                            <option value="20">Excel</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <button type="button" class="btn btn-primary" onclick="imprimirReporte();"> Imprimir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        $('#CutDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
        $('#CutDate').datepicker().datepicker("setDate", new Date());

        $('#SummaryDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
        $('#SummaryDate').datepicker().datepicker("setDate", new Date());

        $('#lookupCliente').lookupbox({
            title: 'Busqueda:',
            url: '@Url.Action("ListLookup", "Home")?tipo=30&consulta=',
            imgLoader: '<img src="~/Images/ajaxloader.gif">',
            width: 800,
            height: 1000,
            onItemSelected: function (data) {
                $('input[name=CustomerId]').val(data.Id);
            },
            tableHeader: ['Id. de cliente', 'Descripción'],
            hiddenFields: ['DataExtended']
        });
    });

    function imprimirReporte() {
        var data = {
            cutDate: $('#CutDate').datepicker('getDate'),
            summaryDate: $('#SummaryDate').datepicker('getDate'),
            customerId: $('#CustomerId').val(),
            printOption: parseInt($('#printOption').val())
        };

        var reportName = 'CustomerStatementReport';
        if ($('#printOption').val() === '10')
            reportName += '.pdf';
        else
            reportName += '.xls';
        var url = '@Url.Content("~/PDF/Reportes/")' + reportName;

        toastr.info('Estamos procesando su solicitud', 'Por favor espere');
        $.ajax({
            url: '@Url.Action("CustomerStatementReport", "AccountReceivables")',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            async: false,
            cache: false,
            contentType: "application/json",
            success: function (d) {
                if (d.status === "OK") {
                    window.open(url);
                }
                else {
                    alert(d.status);
                }
            }
        });
    }
</script>
}