@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
    ViewBag.Title = "Integración transacciones cuentas por pagar";
}

<style>
    .selected {
        background-color: #e0f3ff;
    }

    .notAvailable {
        background-color: #f5efb5;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Integración transacciones cuentas por pagar</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("TransIndex", "AccountReceivables")">Listado de integraciones cuentas por pagar</a>
            </li>
            <li class="active">
                <strong>Integración transacciones cuentas por pagar</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="buttonPanel">
                <div class="ibox-title">
                    <h3>Integración transacciones cuentas por pagar</h3>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-1">
                            <button class="btn btn-danger" type="button" onclick="imprimir();" id="btn-print"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="headerPanel">
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="form-group">
                        <fieldset class="form-horizontal">
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Id. de Lote:</label>
                                        <div class="col-sm-4 input-group">
                                            <input type="text" id="batchId" name="batchId" class="form-control" />
                                            @*<span class="input-group-btn">
                                                <button id="lookupbatch" type="button" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>*@
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Descripción:</label>
                                        <div class="col-sm-8 input-group">
                                            <input type="text" id="description" name="description" class="form-control"/>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                         <label class="col-sm-4 control-label">Num. de Resolución:</label>
                                         <div class="col-sm-4 input-group">
                                             <input type="text" id="resolución" name="resolución" class="form-control"/>
                                         </div>
                                     </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Mes de facturación:</label>
                                        <div class="col-sm-8 input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="month" name="month" class="form-control" value="@DateTime.Now.AddMonths(-1).ToString("MM/yyyy")"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Fecha documento:</label>
                                        <div class="col-sm-8 input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" id="documentDate" name="documentDate" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" id="detailPanel">
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1"> Transacciones</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <br />
                                    <div class="hr-line-dashed"></div>
                                    <div class="row">
                                        <div class="table-responsive" id="transRows">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive" id="totalRows">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/summernoteStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/textSpinnersStyles")
    <link href="@Url.Content("~/Content/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/footableStyles")
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")

    <script type="text/javascript">
        $(document).ready(function() {
            $('#month').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'mm/yyyy'
            });

            $('#documentDate').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy'
            });

            $("#lookupbatch").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=28&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=batchId]').val(data.ItemId);
                    $('input[name=description]').val(data.ItemNam);
                    $('input[name=month]').val(data.ItemDesc);
                    $('input[name=resolución]').val(data.DataExtended);
                    obtenerDetalle(data.ItemId);
                },
                tableHeader: ['Id. de lote', 'Descripción'],
                hiddenFields: ['DataExtended','ItemDesc','Posted']
            });

            $('#transTable').dataTable({
                pageLength: 10,
                paging: false,
                scrollCollapse: true,
                scrollY: '50vh',
                language: {
                    "sProcessing": "Procesando... ",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:  ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                oAria: {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            });
        });

        window.onload = function () {
            getTrans(@Html.Raw(Json.Encode(ViewBag.BatchNumber)));
        };

        function getTrans(batchId) {
            $.ajax({
                url: '@Url.Action("GetTransEntry", "AccountReceivables")?batchId=' + batchId,
                type: "POST",
                data: "",
                dataType: "JSON",
                cache: false,
                async: false,
                contentType: "application/json",
                success: function (data) {
                    if (data.registros.ItemId !== '') {
                        $('input[name=batchId]').val(data.registros.ItemId);
                        $('input[name=description]').val(data.registros.ItemNam);
                        $('input[name=month]').val(data.registros.ItemDesc);
                        $('input[name=resolución]').val(data.registros.DataExtended);
                        $('#batchId').prop('readonly', true);
                        $('#month').prop('readonly', true);
                        $('#description').prop('readonly', true);
                        $('#resolución').prop('readonly', true);
                        $('#documentDate').prop('readonly', true);
                        obtenerDetalle(batchId);
                    }
                }
            });
        }

        function obtenerDetalle(batchId) {
            $.ajax({
                url: '@Url.Action("GetBatchTransEntryPostedDetail", "AccountReceivables")?batchId=' + batchId,
                data: "",
                dataType: "JSON",
                cache: false,
                contentType: "application/json",
                success: function(result) {
                    if (result.status === "OK") {
                        var $table = $('<table  class="table table-stripped table-bordered" id="transTable" />');
                        var thead =
                            '<thead><tr>' +
                                '<th style="width: 2%;">#</th>' +
                                '<th style="width: 21%;">Suplidor</th>' +
                                '<th style="width: 10%;">Energia</th>' +
                                '<th style="width: 10%;">Potencia</th>' +
                                '<th style="width: 10%;">Der. de conexión</th>' +
                                '<th style="width: 10%;">Pagos DC</th>' +
                                '<th style="width: 10%;">Frecuencia</th>' +
                                '<th style="width: 10%;">Compensación por despacho forzado</th>' +
                                '<th style="width: 10%;">Compensación desvio</th>' +
                                '<th style="width: 15%;">Total</th>' +
                                '</tr></thead>';
                        $table.append(thead);
                        var $tbody = $('<tbody/>');
                        var $column1Total = 0;
                        var $column2Total = 0;
                        var $column3Total = 0;
                        var $column4Total = 0;
                        var $column5Total = 0;
                        var $column6Total = 0;
                        var $column7Total = 0;
                        var $columnTotal = 0;
                        $.each(result.registros,
                            function (x, item) {
                                var $row = $('<tr/>');
                                $column1Total += parseFloat(item.Producto1);
                                $column2Total += parseFloat(item.Producto2);
                                $column3Total += parseFloat(item.Producto3);
                                $column4Total += parseFloat(item.Producto4);
                                $column5Total += parseFloat(item.Producto5);
                                $column6Total += parseFloat(item.Producto6);
                                $column7Total += parseFloat(item.Producto7);

                                var $rowTotal = parseFloat(item.Producto1) +
                                    parseFloat(item.Producto2) +
                                    parseFloat(item.Producto3) +
                                    parseFloat(item.Producto4) +
                                    parseFloat(item.Producto5) +
                                    parseFloat(item.Producto6) +
                                    parseFloat(item.Producto7);
                                $columnTotal += $rowTotal;
                                $row.append($('<td/>').html(''));
                                $row.append($('<td/>').html(item.Suplidor.trim()));
                                $row.append($('<td/>').html(parseFloat(item.Producto1).toFixed(2).replace(/./g,
                                    function(c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $row.append($('<td/>').html(parseFloat(item.Producto2).toFixed(2).replace(/./g,
                                    function(c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $row.append($('<td/>').html(parseFloat(item.Producto3).toFixed(2).replace(/./g,
                                    function(c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $row.append($('<td/>').html(parseFloat(item.Producto4).toFixed(2).replace(/./g,
                                    function(c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $row.append($('<td/>').html(parseFloat(item.Producto5).toFixed(2).replace(/./g,
                                    function(c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $row.append($('<td/>').html(parseFloat(item.Producto6).toFixed(2).replace(/./g,
                                    function(c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $row.append($('<td/>').html(parseFloat(item.Producto7).toFixed(2).replace(/./g,
                                    function(c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $row.append($('<td/>').html($rowTotal.toFixed(2).replace(/./g,
                                    function (c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                $tbody.append($row);
                            });

                        $table.append($tbody);
                        $('#transRows').html($table);
                        var $tableTotal = $('<table  class="table table-stripped table-bordered" id="totalTable" />');
                        var $tbodyTotal = $('<tbody/>');
                        var $rowTotal = $('<tr/>');
                        $rowTotal.append($('<td/>').html(""));
                        $rowTotal.append($('<td/>').html("Totales"));
                        $rowTotal.append($('<td/>').html(parseFloat($column1Total).toFixed(2).replace(/./g,
                            function(c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                        $rowTotal.append($('<td/>').html(parseFloat($column2Total).toFixed(2).replace(/./g,
                            function(c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                        $rowTotal.append($('<td/>').html(parseFloat($column3Total).toFixed(2).replace(/./g,
                            function(c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                        $rowTotal.append($('<td/>').html(parseFloat($column4Total).toFixed(2).replace(/./g,
                            function(c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                        $rowTotal.append($('<td/>').html(parseFloat($column5Total).toFixed(2).replace(/./g,
                            function(c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                        $rowTotal.append($('<td/>').html(parseFloat($column6Total).toFixed(2).replace(/./g,
                            function(c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                        $rowTotal.append($('<td/>').html(parseFloat($column7Total).toFixed(2).replace(/./g,
                            function(c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                        $rowTotal.append($('<td/>').html($columnTotal.toFixed(2).replace(/./g,
                            function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));

                        var theadTotal =
                            '<thead><tr>' +
                            '<th style="width: 2%;"></th>' +
                            '<th style="width: 21%;"></th>' +
                            '<th style="width: 10%;"></th>' +
                            '<th style="width: 10%;"></th>' +
                            '<th style="width: 10%;"></th>' +
                            '<th style="width: 10%;"></th>' +
                            '<th style="width: 10%;"></th>' +
                            '<th style="width: 10%;"></th>' +
                            '<th style="width: 10%;"></th>' +
                            '<th style="width: 15%;"></th>' +
                            '</tr></thead>';
                        $tableTotal.append(theadTotal);
                        $tbodyTotal.append($rowTotal);
                        $tableTotal.append($tbodyTotal);
                        $('#totalRows').html($tableTotal);
                    } else {
                        alert(result.status);
                    }
                }
            });
        }

        function imprimir() {
            url = '@Url.Content("~/PDF/Reportes/")AccountReceivablesMemTrans.pdf';
            toastr.info('Estamos procesando su solicitud', 'Por favor espere');
            $.ajax({
                url: '@Url.Action("PrintTransEntry", "AccountReceivables")?date=01/' +
                    $('#month').datepicker({ dateFormat: 'yyyy/MM/dd' }).val(),
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function(d) {
                    if (d.status === "OK") {
                        window.open(url);
                    } else {
                        alert(d.status);
                    }
                }
            });
        }
    </script>
}