@using Microsoft.AspNet.Identity;
@model Seaboard.Intranet.Domain.Models.PaymentRequest
@{
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
    ViewBag.Title = "Solicitudes de pago";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Solicitudes de pago</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PaymentRequest")">Listado de solicitudes</a>
            </li>
            <li class="active">
                <strong>Solicitudes de pago</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Solicitudes de pago</h3>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-1">
                            <button class="btn btn-success" type="button" onclick="Print();"><i class="fa fa-print"></i> Imprimir</button>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Datos Basicos</a></li>
                    <li class=""><a data-toggle="tab" onclick="GeneratedInvoicesTable();" href="#tab-2"> Facturas</a></li>
                    <li class=""><a data-toggle="tab" onclick="cargarArchivos();" href="#tab-3"> Adjuntos</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Num. de pago:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(m => m.PaymentRequestId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Descripción:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Id. de lote:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.BatchNumber, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Id. de proveedor:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.VendorId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Nombre:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.VendName, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Fecha documento:</label>
                                            <div class="col-sm-8 input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.TextBoxFor(m => m.DocumentDate, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Metodo de pago:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.PaymentCondition, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Moneda:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.Currency, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Monto:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Prioridad:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.Priority, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Solicitado por:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.Requester, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nota:</label>
                                            <div class="col-sm-9 input-group">
                                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "5", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h5>Lista de facturas a aplicar</h5>
                                        </div>

                                        <div class="ibox-content">
                                            <div class="table-responsive" id="invoiceRows">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3">

                                    <div class="ibox">
                                        <div class="ibox-title">
                                            <h5>Totales</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <span>
                                                Monto pago
                                            </span>
                                            <h2 id="montoPago" class="font-bold">
                                                0.00
                                            </h2>
                                            <hr />
                                            <span>
                                                Monto aplicado
                                            </span>
                                            <h2 id="montoAplicado" class="font-bold">
                                                0.00
                                            </h2>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="hr-line-dashed"></div>
                            <div class="row" id="attachmentFiles">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/summernoteStyles")
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/Scripts/plugins/datatables/datatables.min.js")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/jasnyBootstrap")

    <script type="text/javascript">
        var editor;
        var invoiceItems = [];
        var invoiceApplied = [];
        $(document).ready(function () {
            @Html.Partial("_Scripts")
            if (($('#Amount').val().trim().replace(/,/g, "") != '' && !isNaN($('#Amount').val().trim().replace(/,/g, "")))) {
                $('#Amount').val(parseFloat($('#Amount').val().replace(/,/g, "")).toFixed(2).replace(/./g, function (c, i, a) {
                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                }));
                $('#montoPago').text(parseFloat($('#Amount').val().replace(/,/g, "")).toFixed(2).replace(/./g, function (c, i, a) {
                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                }));
            }
            GeneratedInvoicesTable();
            AmountApply();
        });

        window.onload = function () {
            invoiceApplied = @Html.Raw(Json.Encode(@ViewBag.InvoicesApplied));
        };

        function GeneratedInvoicesTable() {

            if (invoiceApplied.length > 0) {
                var $table = $('<table  class="table table-stripped table-bordered" id="invoiceTable" />');
                $table.append('<thead><tr></th><th>Numero de documento</th><th>Monto aplicado</th></tr></thead>');
                var $tbody = $('<tbody/>');
                $.each(invoiceApplied, function (i, val) {
                    var $row = $('<tr/>');
                    var $inputDocumentAmount = $('<input style="width:auto" type="text" readonly="readonly" name="DocumentAmount"/>');
                    $row.append($('<td name="DocumentNumber" />').html(val.DocumentNumber));
                    $inputDocumentAmount.val(parseFloat(val.DocumentAmount).toFixed(2).replace(/./g, function (c, i, a) {
                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                    }));
                    $('<td/>').append($inputDocumentAmount).appendTo($row);
                    $tbody.append($row);
                });
                $table.append($tbody);
                $('#invoiceRows').html($table);
                AmountApply();
            }
            else {
                $('#invoiceRows').html('');
            }
        }

        function AmountApply()
        {
            var monto = 0;
            $('tr').each(function () {
                var $row = $(this);
                if ($row.find("input[name=DocumentAmount]").val() != undefined) {
                    monto = monto + Math.abs(parseFloat($row.find("input[name=DocumentAmount]").val().replace(/,/g, "")));
                }
            });

            if (monto != undefined) {
                $('#montoAplicado').text(monto.toFixed(2).replace(/./g, function (c, i, a) {
                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                }));
            }
        }

        function cargarArchivos() {
            $.ajax({
                url: '@Url.Action("LoadAttachmentFiles","PaymentRequest")?PaymentRequestId=' + $('#PaymentRequestId').val().trim(),
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    console.log("current",result)
                    attachmentFiles = result;
                    if (attachmentFiles.length > 0) {
                        var $ul = $('<ul class="list-unstyled file-list" />');
                        $.each(attachmentFiles, function (i, val) {
                            var $li = $('<li/>');
                            var $a = $('<a href="@Url.Action("Download","PaymentRequest")?DocumentId=' + $('#PaymentRequestId').val().trim() + '&FileName=' + val.trim() + '"/>')
                            $a.append($('<i class="fa fa-file-pdf-o" />'));
                            $li.append($a.html("  " + val));
                            $ul.append($li);
                        });
                        $('#attachmentFiles').html($ul);
                    }
                    else {
                        $('#attachmentFiles').html('');
                    }
                }
            });
        }

        function Print() {
            var url = '@Url.Content("~/PDF/Pago/")' + $('#PaymentRequestId').val().trim() + '.pdf';
            toastr.info('Estamos procesando su solicitud', 'Por favor espere')
            $.ajax({
                url: '@Url.Action("PrintSales", "PaymentRequest")?id=' + $('#PaymentRequestId').val().trim(),
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    $('#loadingPanel').hide();
                    if (result.status === "OK")
                        window.open(url);
                    else
                        alert(result.status);
                },
                error: function (result) {
                    toastr.error('Ha ocurrido un error en la generación del documento', 'Campos requeridos')
                }
            });
        }
    </script>
}
