@model Seaboard.Intranet.Domain.Models.PettyCashRequest

@{
    ViewBag.Title = "Solicitudes de caja chica";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Solicitudes de caja chica</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PettyCash")">Listado de solicitudes</a>
            </li>
            <li class="active">
                <strong>Solicitudes de caja chica</strong>
            </li>
        </ol>
    </div>
</div>

@using (Html.BeginForm("Create", "PettyCash", FormMethod.Post, new { @id = "PettyCashCreate" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("PostType", 0)

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Solicitudes de caja chica</h3>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-1">
                                <button class="btn btn-success" type="button" onclick="Print();"><i class="fa fa-print"></i> Imprimir</button>
                                @if (Model.Status != 4)
                                {
                                    <button class="btn btn-success" type="button" data-toggle="modal" data-target="#modal-SendRequest"><i class="fa fa-send"></i> Enviar</button>
                                }
                                <br />
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1"> Datos Basicos</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-2" onclick="cargarArchivos();"> Adjuntos</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">No. de solicitud:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(m => m.RequestId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Descripción:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Monto:</label>
                                            <div class="col-sm-8 input-group">
                                                <div class="input-group m-b">
                                                    <span class="input-group-addon">$</span>
                                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @readonly = "" }) <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Moneda:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.Currency, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Solicitado por:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.Requester, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Departamento:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.DepartmentId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-11">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nota:</label>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "5", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <form action="javascript:;" method="post" enctype="multipart/form-data" id="attachmentForm" accept-charset="utf-8">
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <div class="form-control" data-trigger="fileinput">
                                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                <span class="fileinput-filename"></span>
                                            </div>
                                            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar archivo</span><span class="fileinput-exists">Cambiar</span><input type="file" name="FileData" id="FileData"></span>
                                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Borrar</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="row" id="attachmentFiles">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-SendRequest" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Enviar a flujo de trabajo</h4>
                    <h3>Esta seguro que desea enviar al flujo de trabajo ?</h3>
                </div>

                <div class="modal-body">
                    <h4>Solicitud de caja chica</h4>
                    <hr />

                </div>

                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <button type="button" class="btn btn-primary" onclick="enviarFlujo();"> Si</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Styles {
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")
    @Scripts.Render("~/plugins/toastr")

    <script>

        $(document).ready(function () {
            @Html.Partial("_Scripts")
        });

        function enviarFlujo() {
            $.ajax({
                url: '@Url.Action("SendWorkFlow", "PettyCash")?RequestId=' + $('#RequestId').val().trim(),
                type: "POST",
                data: "",
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status == true) {
                        window.location.href = "@Url.Action("Index", "PettyCash")";
                    }
                    else {
                        alert('Ha ocurrido un error');
                    }
                },
                error: function () {
                    alert('Error. Por favor trate de nuevo.');
                }
            });
        }

        function cargarArchivos() {
            $.ajax({
                url: '@Url.Action("LoadAttachmentFiles", "PettyCash")?RequestId=' + $('#RequestId').val().trim(),
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    attachmentFiles = result;
                    if (attachmentFiles.length > 0) {
                        var $ul = $('<ul class="list-unstyled file-list" />');
                        $.each(attachmentFiles, function (i, val) {
                            var $li = $('<li/>');
                            var $a = $('<a href="@Url.Action("Download","PettyCash")?DocumentId=' + $('#RequestId').val().trim() + '&FileName=' + val.trim() + '"/>')
                            $a.append($('<i class="fa fa-file-pdf-o" />'));
                            $li.append($a.html("  " + val));
                            $ul.append($li);
                        });
                        $('#attachmentFiles').html($ul);
                    }
                    else {
                        $('#attachmentFiles').html('');
                    }
                }
            });
        }

        function Print() {
            var url = '@Url.Content("~/PDF/Caja/")' + $('#RequestId').val() + '.pdf';
            toastr.info('Estamos procesando su solicitud', 'Por favor espere')
            $.ajax({
                url: '@Url.Action("Print", "PettyCash")?id=' + $('#RequestId').val(),
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    $('#loadingPanel').hide();
                    window.open(url);
                },
                error: function (result) {
                    toastr.error('Ha ocurrido un error en la generación del documento', 'Campos requeridos')
                }
            });
        }
    </script>
}
