@using Microsoft.AspNet.Identity;
@using Seaboard.Intranet.BusinessLogic
@{
    var account = Account.GetAccount(User.Identity.GetUserName());
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <i class="fa fa-user-circle fa-4x"></i>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"> @(account?.FirstName + " " + account?.LastName)</strong>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("ChangePassword", "Account")">Cambiar contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Account")">Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TCC
                </div>
            </li>
            <li class="landing_link">
                <a href="@Url.Action("Index","Accounting")"><i class="fa fa-star"></i> <span class="nav-label">Inicio</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Accounting", action: "InformalSupplierInvoiceIndex")
                    @Html.IsSelected(controller: "Accounting", action: "InformalSupplierInvoice")
                    @Html.IsSelected(controller: "Accounting", action: "MinorExpensesInvoiceIndex")
                    @Html.IsSelected(controller: "Accounting", action: "MinorExpensesInvoice")">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.dashboard">Facturación</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                        @Html.IsSelected(controller: "Accounting", action: "InformalSupplierInvoiceIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "InformalSupplierInvoice", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "MinorExpensesInvoiceIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "MinorExpensesInvoice", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "InformalSupplierInvoiceIndex") @Html.IsSelected(action: "InformalSupplierInvoice")">
                        <a href="@Url.Action("InformalSupplierInvoiceIndex", "Accounting")">Proveedor Informal</a>
                    </li>
                    <li class="@Html.IsSelected(action: "MinorExpensesInvoiceIndex") @Html.IsSelected(action: "MinorExpensesInvoice")">
                        <a href="@Url.Action("MinorExpensesInvoiceIndex", "Accounting")">Gastos menores</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Accounting", action: "SupplierIndex")
                    @Html.IsSelected(controller: "Accounting", action: "SupplierCreate")
                    @Html.IsSelected(controller: "Accounting", action: "SupplierEdit")
                    @Html.IsSelected(controller: "Accounting", action: "VoidType")
                    @Html.IsSelected(controller: "Accounting", action: "Tax")
                    @Html.IsSelected(controller: "Accounting", action: "FinancialAccount")">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Tarjetas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                        @Html.IsSelected(controller: "Accounting", action: "SupplierIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "SupplierCreate", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "SupplierEdit", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "VoidType", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "Tax", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "FinancialAccount", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "SupplierIndex") @Html.IsSelected(action: "SupplierCreate") @Html.IsSelected(action: "SupplierEdit")">
                        <a href="@Url.Action("SupplierIndex", "Accounting")">Proveedores</a>
                    </li>
                    <li class="@Html.IsSelected(action: "VoidType")"><a href="@Url.Action("VoidType", "Accounting")">Tipo de anulaciones</a></li>
                    <li class="@Html.IsSelected(action: "Tax")"><a href="@Url.Action("Tax", "Accounting")">Impuestos</a></li>
                    <li class="@Html.IsSelected(action: "FinancialAccount")"><a href="@Url.Action("FinancialAccount", "Accounting")">Cuentas contables</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Accounting", action: "SupplierTransactionInquiry")
                @Html.IsSelected(controller: "Accounting", action: "SupplierInquiry")
                @Html.IsSelected(controller: "Accounting", action: "PurchaseOrderInquiry")">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.dashboard">Consultas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                            @Html.IsSelected(controller: "Accounting", action: "AccountingTransactionInquiry", cssClass: "in")
                            @Html.IsSelected(controller: "Accounting", action: "SupplierInquiry", cssClass: "in")
                            @Html.IsSelected(controller: "Accounting", action: "PurchaseOrderInquiry", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "AccountingTransactionInquiry")"><a href="@Url.Action("AccountingTransactionInquiry", "Accounting")">Facturas</a></li>
                    <li class="@Html.IsSelected(action: "SupplierInquiry")"><a href="@Url.Action("SupplierInquiry", "Accounting")">Proveedores compras</a></li>
                    <li class="@Html.IsSelected(action: "PurchaseOrderInquiry")"><a href="@Url.Action("PurchaseOrderInquiry", "Accounting")">OC abiertas</a></li>
                </ul>
            </li>
            <li class="
                    @Html.IsSelected(controller: "Accounting", action: "AccountingTransSummaryReport")
                    @Html.IsSelected(controller: "Accounting", action: "AccountingTransDetailReport")
                    @Html.IsSelected(controller: "Accounting", action: "TransGeneralLedgerReport")
                    @Html.IsSelected(controller: "Accounting", action: "FiscalSalesReport")">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Reportes</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                        @Html.IsSelected(controller: "Accounting", action: "AccountingTransSummaryReport", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "AccountingTransDetailReport", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "TransGeneralLedgerReport", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "FiscalSalesReport", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "AccountingTransSummaryReport")"><a href="@Url.Action("AccountingTransSummaryReport", "Accounting")">Transacciones resumido</a></li>
                    <li class="@Html.IsSelected(action: "AccountingTransDetailReport")"><a href="@Url.Action("AccountingTransDetailReport", "Accounting")">Transacciones detallado</a></li>
                    <li class="@Html.IsSelected(action: "TransGeneralLedgerReport")"><a href="@Url.Action("TransGeneralLedgerReport", "Accounting")">Trans. ventas por cuentas contables</a></li>
                    <li class="@Html.IsSelected(action: "FiscalSalesReport")"><a href="@Url.Action("FiscalSalesReport", "Accounting")">Reporte 607</a></li>
                </ul>
            </li>
            <li class="
                    @Html.IsSelected(controller: "Accounting", action: "ConfigurationIndex")
                    @Html.IsSelected(controller: "Accounting", action: "NCFConfigurationIndex")
                    @Html.IsSelected(controller: "Accounting", action: "BillingConfigurationIndex")
                    @Html.IsSelected(controller: "Accounting", action: "EmailAlert")
                    @Html.IsSelected(controller: "Accounting", action: "FiscalSalesExchangeRate")">
                <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label" data-i18n="nav.dashboard">Configuración</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                        @Html.IsSelected(controller: "Accounting", action: "ConfigurationIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "NCFConfigurationIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "BillingConfigurationIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "EmailAlert", cssClass: "in")
                        @Html.IsSelected(controller: "Accounting", action: "FiscalSalesExchangeRate", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "ConfigurationIndex")"><a href="@Url.Action("ConfigurationIndex", "Accounting")">General</a></li>
                    <li class="@Html.IsSelected(action: "NCFConfigurationIndex")"><a href="@Url.Action("NCFConfigurationIndex", "Accounting")">NCF</a></li>
                    <li class="@Html.IsSelected(action: "FiscalSalesExchangeRate")"><a href="@Url.Action("FiscalSalesExchangeRate", "Accounting")">Tasa para 607</a></li>
                    <li class="@Html.IsSelected(action: "BillingConfigurationIndex")"><a href="@Url.Action("BillingConfigurationIndex", "Accounting")">Facturación</a></li>
                    <li class="@Html.IsSelected(action: "EmailAlert")"><a href="@Url.Action("EmailAlert", "Accounting")">Email de alerta</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
