@using Microsoft.AspNet.Identity;
@using Seaboard.Intranet.BusinessLogic
@{
    var account = Account.GetAccount(User.Identity.GetUserName());
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <i class="fa fa-user-circle fa-4x"></i>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"> @(account?.FirstName + " " + account?.LastName)</strong>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("ChangePassword", "Account")">Cambiar contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Account")">Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TCC
                </div>
            </li>
            <li class="landing_link">
                <a href="@Url.Action("Index","Computing")"><i class="fa fa-star"></i> <span class="nav-label">Inicio</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Computing", action: "EquipmentRequestHandlingIndex")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentRequestHandling")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentDeliveryIndex")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentDelivery")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentRepairIndex")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentRepair")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentUnassignIndex", cssClass: "in")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentUnassign", cssClass: "in")
                    @Html.IsSelected(controller: "Computing", action: "CaseIndex", cssClass: "in")
                    @Html.IsSelected(controller: "Computing", action: "Case", cssClass: "in")">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.dashboard">Transacciones</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                        @Html.IsSelected(controller: "Computing", action: "EquipmentRequestHandlingIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EquipmentRequestHandling", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EquipmentDeliveryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EquipmentDelivery", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EquipmentRepairIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EquipmentRepair", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EquipmentUnassignIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EquipmentUnassign", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "CaseIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "Case", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "EquipmentRequestHandlingIndex") @Html.IsSelected(action: "EquipmentRequestHandling")">
                        <a href="@Url.Action("EquipmentRequestHandlingIndex", "Computing")">Solicitud de equipos</a>
                    </li>
                    <li class="@Html.IsSelected(action: "EquipmentDeliveryIndex") @Html.IsSelected(action: "EquipmentDelivery")">
                        <a href="@Url.Action("EquipmentDeliveryIndex", "Computing")">Entrega de equipos</a>
                    </li>
                    <li class="@Html.IsSelected(action: "EquipmentRepairIndex") @Html.IsSelected(action: "EquipmentRepair")">
                        <a href="@Url.Action("EquipmentRepairIndex", "Computing")">Reparación de equipos</a>
                    </li>
                    <li class="@Html.IsSelected(action: "EquipmentUnassignIndex") @Html.IsSelected(action: "EquipmentUnassign")">
                        <a href="@Url.Action("EquipmentUnassignIndex", "Computing")">Desasignación</a>
                    </li>
                    <li class="@Html.IsSelected(action: "CaseIndex") @Html.IsSelected(action: "Case")">
                        <a href="@Url.Action("CaseIndex", "Computing")">Casos</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Computing", action: "EquipmentIndex")
                    @Html.IsSelected(controller: "Computing", action: "Equipment")
                    @Html.IsSelected(controller: "Computing", action: "SimCardIndex")
                    @Html.IsSelected(controller: "Computing", action: "SimCard")
                    @Html.IsSelected(controller: "Computing", action: "EarnedPoints")">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Tarjetas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                        @Html.IsSelected(controller: "Computing", action: "EquipmentIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "Equipment", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "SimCardIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "SimCard", cssClass: "in")
                        @Html.IsSelected(controller: "Computing", action: "EarnedPoints", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "EquipmentIndex") @Html.IsSelected(action: "Equipment")">
                        <a href="@Url.Action("EquipmentIndex", "Computing")">Equipos</a>
                    </li>
                    <li class="@Html.IsSelected(action: "SimCardIndex") @Html.IsSelected(action: "SimCard")">
                        <a href="@Url.Action("SimCardIndex", "Computing")">Tarjeta SIM</a>
                    </li>
                    <li class="@Html.IsSelected(action: "EarnedPoints")">
                        <a href="@Url.Action("EarnedPoints", "Computing")">Fidepuntos</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Computing", action: "EquipmentRequestInquiry")
                @Html.IsSelected(controller: "Computing", action: "EquipmentInquiry")
                @Html.IsSelected(controller: "Computing", action: "SimCardInquiry")
                @Html.IsSelected(controller: "Computing", action: "EquipmentDeliveryInquiry")">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.dashboard">Consultas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                    @Html.IsSelected(controller: "Computing", action: "EquipmentRequestInquiry", cssClass: "in")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentInquiry", cssClass: "in")
                    @Html.IsSelected(controller: "Computing", action: "EquipmentDeliveryInquiry", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "EquipmentRequestInquiry")"><a href="@Url.Action("EquipmentRequestInquiry", "Computing")">Solicitudes</a></li>
                    <li class="@Html.IsSelected(action: "EquipmentDeliveryInquiry")"><a href="@Url.Action("EquipmentDeliveryInquiry", "Computing")">Entrega de Equipo</a></li>
                    <li class="@Html.IsSelected(action: "EquipmentInquiry")"><a href="@Url.Action("EquipmentInquiry", "Computing")">Equipos</a></li>
                    <li class="@Html.IsSelected(action: "SimCardInquiry")"><a href="@Url.Action("SimCardInquiry", "Computing")">Tarjetas SIM</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>