@using Microsoft.AspNet.Identity;
@using Seaboard.Intranet.BusinessLogic
@{
    var account = Account.GetAccount(User.Identity.GetUserName());
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <i class="fa fa-user-circle fa-4x"></i>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"> @(account?.FirstName + " " + account?.LastName)</strong>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("ChangePassword", "Account")">Cambiar contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Account")">Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TCC
                </div>
            </li>
            <li class="landing_link">
                <a href="@Url.Action("Index","HumanResources")"><i class="fa fa-star"></i> <span class="nav-label">Inicio</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Beacon")">
                <a href="#"><i class="fas fa-table"></i> <span class="nav-label" data-i18n="nav.graphs">Consultas</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Beacon", cssClass: "in")">
                    <li class="@Html.IsSelected(controller: "Beacon", action: "Index")"><a href="@Url.Action("Index", "Beacon")">Dispositivos (EDM II)</a></li>
                    <li class="@Html.IsSelected(controller: "VisitorCard")"><a href="@Url.Action("Index", "VisitorCard")">Tarjetas visitante</a></li>
                    <li class="@Html.IsSelected(controller: "Visitor")"><a href="@Url.Action("Index", "Visitor")">Visitantes</a></li>
                    <li class="@Html.IsSelected(controller: "Gateway", action: "Index")"><a href="@Url.Action("Index", "Gateway")">Gateways</a></li>
                    <li class="@Html.IsSelected(controller: "Beacon", action: "Inquiry")"><a href="@Url.Action("Inquiry","Beacon")">Consulta presencia</a></li>
                    <li class="@Html.IsSelected(controller: "Beacon", action: "RegisterInOut")"><a href="@Url.Action("RegisterInOut","Beacon")">Registrar In/Out</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Beacon")">
                <a href="#"><i class="fas fa-laptop"></i> <span class="nav-label" data-i18n="nav.graphs">Configuracion</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Beacon", cssClass: "in")">
                    <li class="@Html.IsSelected(controller: "Beacon", action: "Index")"><a href="@Url.Action("Index", "Beacon")">Reglas</a></li>
                    <li class="@Html.IsSelected(controller: "VisitorCard")"><a href="@Url.Action("Index", "VisitorCard")">Dias feriados</a></li>
                    <li class="@Html.IsSelected(controller: "Visitor")"><a href="@Url.Action("Index", "Visitor")">Visitantes</a></li>
                    <li class="@Html.IsSelected(controller: "Gateway", action: "Index")"><a href="@Url.Action("Index", "Gateway")">Gateways</a></li>
                    <li class="@Html.IsSelected(controller: "Beacon", action: "Inquiry")"><a href="@Url.Action("Inquiry","Beacon")">Consulta presencia</a></li>
                    <li class="@Html.IsSelected(controller: "Beacon", action: "RegisterInOut")"><a href="@Url.Action("RegisterInOut","Beacon")">Registrar In/Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>