@using Microsoft.AspNet.Identity;
@using Seaboard.Intranet.BusinessLogic
@{
    var account = Account.GetAccount(User.Identity.GetUserName());
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <i class="fa fa-user-circle fa-4x"></i>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"> @(account?.FirstName + " " + account?.LastName)</strong>
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("ChangePassword", "Account")">Cambiar contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Account")">Salir</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    TCC
                </div>
            </li>
            <li class="landing_link">
                <a href="@Url.Action("Index","Billing")"><i class="fa fa-star"></i> <span class="nav-label">Inicio</span></a>
            </li>
            <li class="
                    @Html.IsSelected(controller: "Billing", action: "MeterDashboard")">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "Billing", action: "MeterDashboard", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "MeterDashboard")"><a href="@Url.Action("MeterDashboard", "Billing")">Inform. Medicion</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.dashboard">Facturación</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionEntryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionEntry", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransaction", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MiscellaneousInvoiceEntryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MiscellaneousInvoiceIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "ReliquidationEntryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "ReliquidationEntry", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "CustomerIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "CustomerCreate", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "CustomerEdit", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "Country", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "State", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "City", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "BatchInquiryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "BatchInquiryTransaction", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "BillingReport", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "CustomerDataReport", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "SalesTransDetailReport", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "SalesTransGeneralLedgerReport", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "ConfigurationIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "NCFConfigurationIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "AccountConfigurationIndex", cssClass: "in")" aria-expanded="false" style="height: 0px;">
                    <li class="
                    @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionEntryIndex")
                    @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionIndex")
                    @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionEntry")
                    @Html.IsSelected(controller: "Billing", action: "MemBillingTransaction")
                    @Html.IsSelected(controller: "Billing", action: "MiscellaneousInvoiceEntryIndex")
                    @Html.IsSelected(controller: "Billing", action: "MiscellaneousInvoiceEntry")
                    @Html.IsSelected(controller: "Billing", action: "ReliquidationEntryIndex")
                    @Html.IsSelected(controller: "Billing", action: "ReliquidationEntry")">
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.dashboard">Transacciones</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionEntryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransactionEntry", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MemBillingTransaction", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MiscellaneousInvoiceEntryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "MiscellaneousInvoiceEntry", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "ReliquidationEntryIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "ReliquidationEntry", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "MemBillingTransactionEntryIndex") @Html.IsSelected(action: "MemBillingTransactionEntry")">
                                <a href="@Url.Action("MemBillingTransactionEntryIndex", "Billing")">Facturación MEM</a>
                            </li>
                            <li class="@Html.IsSelected(action: "MiscellaneousInvoiceEntryIndex") @Html.IsSelected(action: "MiscellaneousInvoiceEntry")">
                                <a href="@Url.Action("MiscellaneousInvoiceEntryIndex", "Billing")">Facturas Miscelaneas</a>
                            </li>
                            <li class="@Html.IsSelected(action: "ReliquidationEntryIndex") @Html.IsSelected(action: "ReliquidationEntry")">
                                <a href="@Url.Action("ReliquidationEntryIndex", "Billing")">Reliquidaciones</a>
                            </li>
                            <li class="@Html.IsSelected(action: "MemBillingTransactionIndex") @Html.IsSelected(action: "MemBillingTransaction")">
                                <a href="@Url.Action("MemBillingTransactionIndex", "Billing")">Pre-Facturación</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "Billing", action: "CustomerIndex")
                    @Html.IsSelected(controller: "Billing", action: "CustomerCreate")
                    @Html.IsSelected(controller: "Billing", action: "CustomerEdit")">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Tarjetas</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "Billing", action: "CustomerIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "CustomerCreate", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "CustomerEdit", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "Country", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "State", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "City", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "CustomerIndex") @Html.IsSelected(action: "CustomerCreate") @Html.IsSelected(action: "CustomerEdit")">
                                <a href="@Url.Action("CustomerIndex", "Billing")">Clientes</a>
                            </li>
                            <li class="@Html.IsSelected(action: "Country")"><a href="@Url.Action("Country", "Billing")">País</a></li>
                            <li class="@Html.IsSelected(action: "State")"><a href="@Url.Action("State", "Billing")">Provincia</a></li>
                            <li class="@Html.IsSelected(action: "City")"><a href="@Url.Action("City", "Billing")">Ciudad</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "Billing", action: "BatchInquiryIndex")
                    @Html.IsSelected(controller: "Billing", action: "BatchInquiryTransaction")">
                        <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.dashboard">Consultas</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                            @Html.IsSelected(controller: "Billing", action: "BatchInquiryIndex", cssClass: "in")
                            @Html.IsSelected(controller: "Billing", action: "BatchInquiryTransaction", cssClass: "in")
                            @Html.IsSelected(controller: "Billing", action: "CustomerTransactionInquiry", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "BatchInquiryIndex") @Html.IsSelected(action: "BatchInquiryTransaction") @Html.IsSelected(action: "CustomerTransactionInquiry")">
                                <a href="@Url.Action("BatchInquiryIndex", "Billing")">Lotes</a>
                            </li>
                            <li class="@Html.IsSelected(action: "CustomerTransactionInquiry")">
                                <a href="@Url.Action("CustomerTransactionInquiry", "Billing")">Transaccion cliente</a>
                            </li>
                        </ul>
                    </li>
                    <li class="
                    @Html.IsSelected(controller: "Billing", action: "BillingReport")
                    @Html.IsSelected(controller: "Billing", action: "CustomerDataReport")
                    @Html.IsSelected(controller: "Billing", action: "SalesTransDetailReport")
                    @Html.IsSelected(controller: "Billing", action: "SalesTransGeneralLedgerReport")">
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Reportes</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "Billing", action: "BillingReport", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "CustomerDataReport", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "SalesTransDetailReport", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "SalesTransGeneralLedgerReport", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "CustomerDataReport")"><a href="@Url.Action("CustomerDataReport", "Billing")">Datos de cliente</a></li>
                            <li class="@Html.IsSelected(action: "BillingReport")"><a href="@Url.Action("BillingReport", "Billing")" target="_blank">Trans. ventas resumido</a></li>
                            <li class="@Html.IsSelected(action: "SalesTransDetailReport")"><a href="@Url.Action("SalesTransDetailReport", "Billing")">Trans. ventas detallado</a></li>
                            <li class="@Html.IsSelected(action: "SalesTransGeneralLedgerReport")"><a href="@Url.Action("SalesTransGeneralLedgerReport", "Billing")">Trans. ventas cuentas</a></li>
                            <li class="@Html.IsSelected(action: "FiscalSalesReport")"><a href="@Url.Action("FiscalSalesReport", "Billing")">Reporte 607</a></li>
                        </ul>
                    </li>
                    <li class="
                    @Html.IsSelected(controller: "Billing", action: "ConfigurationIndex")
                    @Html.IsSelected(controller: "Billing", action: "NCFConfigurationIndex")
                    @Html.IsSelected(controller: "Billing", action: "AccountConfigurationIndex")">
                        <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label" data-i18n="nav.dashboard">Configuración</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "Billing", action: "ConfigurationIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "NCFConfigurationIndex", cssClass: "in")
                        @Html.IsSelected(controller: "Billing", action: "AccountConfigurationIndex", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "ConfigurationIndex")"><a href="@Url.Action("ConfigurationIndex", "Billing")">General</a></li>
                            <li class="@Html.IsSelected(action: "NCFConfigurationIndex")"><a href="@Url.Action("NCFConfigurationIndex", "Billing")">NCF</a></li>
                            <li class="@Html.IsSelected(action: "AccountConfigurationIndex")"><a href="@Url.Action("AccountConfigurationIndex", "Billing")">Contable</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.dashboard">CXC y CXP</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransIndex", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransEntry", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransInquiry", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransCreateIndex", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransCreate", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransCreateInquiry", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "NetIndex", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "NetTrans", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "NetEdit", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "NetInquiry", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "CashReceiptIndex", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "CashReceipt", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "CashReceiptEdit", cssClass: "in")
                    @Html.IsSelected(controller: "PaymentRequest", action: "Index", cssClass: "in")
                    @Html.IsSelected(controller: "PaymentRequest", action: "Create", cssClass: "in")
                    @Html.IsSelected(controller: "PaymentRequest", action: "Edit", cssClass: "in")
                    @Html.IsSelected(controller: "PaymentRequest", action: "Inquiry", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "ApplyDocuments", cssClass: "in")
                    @Html.IsSelected(controller: "AccountPayables", action: "ApplyDocuments", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "PostBatch", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransactionInquiry", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "AgingReport", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "RelationInvoicePaymentReport", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransAnalysisReport", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "InterestIndex", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "InterestEntry", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "InterestContract", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "InterestConfiguration", cssClass: "in")
                    @Html.IsSelected(controller: "AccountReceivables", action: "InterestInquiry", cssClass: "in")" aria-expanded="false" style="height: 0px;">
                    <li class="
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransIndex")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransCreateIndex")
                    @Html.IsSelected(controller: "AccountReceivables", action: "NetIndex")
                    @Html.IsSelected(controller: "AccountReceivables", action: "CashReceiptIndex")
                    @Html.IsSelected(controller: "PaymentRequest", action: "Index")
                    @Html.IsSelected(controller: "AccountReceivables", action: "ApplyDocuments")
                    @Html.IsSelected(controller: "AccountPayables", action: "ApplyDocuments")
                    @Html.IsSelected(controller: "AccountReceivables", action: "PostBatch")
                    @Html.IsSelected(controller: "AccountReceivables", action: "InterestIndex", cssClass: "in")">
                        <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.dashboard">Transacciones</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "AccountReceivables", action: "TransIndex", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "TransEntry", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "TransInquiry", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "TransCreateIndex", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "TransCreate", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "TransCreateInquiry", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "NetIndex", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "NetTrans", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "NetEdit", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "NetInquiry", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "CashReceiptIndex", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "CashReceipt", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "CashReceiptEdit", cssClass: "in")
                        @Html.IsSelected(controller: "PaymentRequest", action: "Index", cssClass: "in")
                        @Html.IsSelected(controller: "PaymentRequest", action: "Create", cssClass: "in")
                        @Html.IsSelected(controller: "PaymentRequest", action: "Edit", cssClass: "in")
                        @Html.IsSelected(controller: "PaymentRequest", action: "Inquiry", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "ApplyDocuments", cssClass: "in")
                        @Html.IsSelected(controller: "AccountPayables", action: "ApplyDocuments", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "PostBatch", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "InterestIndex", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "InterestEntry", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "TransIndex") @Html.IsSelected(action: "TransEntry") @Html.IsSelected(action: "TransInquiry")">
                                <a href="@Url.Action("TransIndex", "AccountReceivables")">Integracion de transacciones</a>
                            </li>
                            <li class="@Html.IsSelected(action: "TransCreateIndex") @Html.IsSelected(action: "TransCreate") @Html.IsSelected(action: "TransCreateInquiry")">
                                <a href="@Url.Action("TransCreateIndex", "AccountReceivables")">Generación de documentos</a>
                            </li>
                            <li class="@Html.IsSelected(action: "NetIndex") @Html.IsSelected(action: "NetTrans") @Html.IsSelected(action: "NetEdit") @Html.IsSelected(action: "NetInquiry")">
                                <a href="@Url.Action("NetIndex", "AccountReceivables")">Neteo de documentos</a>
                            </li>
                            <li class="@Html.IsSelected(action: "InterestIndex") @Html.IsSelected(action: "InterestEntry")">
                                <a href="@Url.Action("InterestIndex", "AccountReceivables", new {type = 0 })">Calculo de intereses preliminar</a>
                            </li>
                            <li class="@Html.IsSelected(action: "InterestIndex") @Html.IsSelected(action: "InterestEntry")">
                                <a href="@Url.Action("InterestIndex", "AccountReceivables", new {type = 1 })">Calculo de intereses definitivo</a>
                            </li>
                            <li class="@Html.IsSelected(action: "CashReceiptIndex") @Html.IsSelected(action: "CashReceipt") @Html.IsSelected(action: "CashReceiptEdit")"><a href="@Url.Action("CashReceiptIndex", "AccountReceivables")">Recibos de Ingresos</a></li>
                            <li class="@Html.IsSelected(action: "Index", controller: "PaymentRequest") @Html.IsSelected(action: "Create", controller: "PaymentRequest") @Html.IsSelected(action: "Edit", controller: "PaymentRequest")">
                                <a href="@Url.Action("Index", "PaymentRequest")">Solicitud de pago</a>
                            </li>
                            <li class="@Html.IsSelected(action: "ApplyDocuments", controller: "AccountReceivables")"><a href="@Url.Action("ApplyDocuments", "AccountReceivables")">Aplicar docs. CXC</a></li>
                            <li class="@Html.IsSelected(action: "ApplyDocuments", controller: "AccountPayables")"><a href="@Url.Action("ApplyDocuments", "AccountPayables")">Aplicar docs. CXP</a></li>
                            <li class="@Html.IsSelected(action: "PostBatch")"><a href="@Url.Action("PostBatch", "AccountReceivables")">Contabilización lotes</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "AccountReceivables", action: "InterestContract")">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Tarjetas</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse @Html.IsSelected(controller: "AccountReceivables", action: "InterestContract", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "InterestContract")">
                                <a href="@Url.Action("InterestContract", "AccountReceivables")">Contratos</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(controller: "AccountReceivables", action: "TransactionInquiry") 
                        @Html.IsSelected(controller: "AccountReceivables", action: "InterestInquiry")">
                        <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.dashboard">Consultas</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse 
                            @Html.IsSelected(controller: "AccountReceivables", action: "TransactionInquiry", cssClass: "in")
                            @Html.IsSelected(controller: "AccountReceivables", action: "InterestInquiry", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "TransactionInquiry")"><a href="@Url.Action("TransactionInquiry", "AccountReceivables")">Transacciones cliente/proveedor</a></li>
                            <li class="@Html.IsSelected(action: "InterestInquiry")"><a href="@Url.Action("InterestInquiry", "AccountReceivables", new {type = 2 })">Calculo de intereses preliminares</a></li>
                            <li class="@Html.IsSelected(action: "InterestInquiry")"><a href="@Url.Action("InterestInquiry", "AccountReceivables", new {type = 3 })">Calculo de intereses definitivos</a></li>
                        </ul>
                    </li>
                    <li class="
                    @Html.IsSelected(controller: "AccountReceivables", action: "AgingReport")
                    @Html.IsSelected(controller: "AccountReceivables", action: "RelationInvoicePaymentReport")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransAnalysisReport")">
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.dashboard">Reportes</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "AccountReceivables", action: "AgingReport", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "RelationInvoicePaymentReport", cssClass: "in")
                        @Html.IsSelected(controller: "AccountReceivables", action: "TransAnalysisReport", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "AgingReport")"><a href="@Url.Action("AgingReport", "AccountReceivables")">Saldo de antiguedad</a></li>
                            <li class="@Html.IsSelected(action: "RelationInvoicePaymentReport")"><a href="@Url.Action("RelationInvoicePaymentReport", "AccountReceivables")">Relacion Factura vs Pago</a></li>
                            <li class="@Html.IsSelected(action: "TransAnalysisReport")"><a href="@Url.Action("TransAnalysisReport", "AccountReceivables")">Resumen de analisis transacciones MEM</a></li>
                        </ul>
                    </li>
                    <li class="
                    @Html.IsSelected(controller: "AccountReceivables", action: "AgingReport")
                    @Html.IsSelected(controller: "AccountReceivables", action: "RelationInvoicePaymentReport")
                    @Html.IsSelected(controller: "AccountReceivables", action: "TransAnalysisReport")">
                        <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label" data-i18n="nav.dashboard">Configuración</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse
                        @Html.IsSelected(controller: "AccountReceivables", action: "InterestConfiguration", cssClass: "in")">
                            <li class="@Html.IsSelected(action: "InterestConfiguration")"><a href="@Url.Action("InterestConfiguration", "AccountReceivables")">Calculo de intereses</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>