@model Seaboard.Intranet.Domain.Models.MemBillingHead
@{
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
    ViewBag.Title = "Reliquidaciones";
    decimal totalPesos = ViewBag.TotalPesos;
    decimal totalDolar = ViewBag.TotalDolar;
    string noteNC = ViewBag.NoteNC;
    string noteND = ViewBag.NoteND;
    DateTime lastDate = Seaboard.Intranet.BusinessLogic.HelperLogic.GetLastDate();
}

<style>
    .selected {
        background-color: #e0f3ff;
    }

    .notAvailable {
        background-color: #f5efb5;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
    .modal-lg{
        width: 1100px;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <br />
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("ReliquidationEntryIndex", "Billing")">Listado de reliquidaciones</a>
            </li>
            <li class="active">
                <strong>Reliquidaciones</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-1">
                            <button class="ladda-button btn btn-white" data-style="expand-left" type="button" id="postButton" onclick="verifyTransaction();"><i class="fa fa-exchange"></i> Someter</button>
                            <button class="ladda-button btn btn-success" data-style="expand-right" type="button" id="saveButton" onclick="save();"><i class="fa fa-save"></i> Guardar</button>
                            <button class="ladda-button btn btn-warning" data-style="expand-right" type="button" id="getFileButton" onclick="getTransactionFile();"><i class="fa fa-file-text"></i> Procesar archivo</button>
                            <button class="btn btn-info" type="button" onclick="eliminar();"><i class="fa fa-remove"></i> Eliminar</button>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="row">
                            <div class="col-3 col-md-3">
                                <div class="form-group">
                                    <label>Id. de lote</label>
                                    @Html.TextBoxFor(m => m.BatchNumber, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-6 col-md-6">
                                <div class="form-group">
                                    <label>Descripción</label>
                                    @Html.TextBoxFor(m => m.BatchDescription, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-2 col-md-2">
                                <div class="form-group">
                                    <label>No. de resolución</label>
                                    @Html.TextBoxFor(m => m.ResolutionNumber, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-2 col-md-2">
                                <div class="form-group date">
                                    <label>Fecha de documento</label>
                                    <div class="col-sm-12 input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.TextBoxFor(m => m.DocumentDate, new { @class = "form-control", Value = Model.DocumentDate.ToShortDateString() })
                                    </div>
                                </div>
                            </div>

                            <div class="col-2 col-md-2">
                                <div class="form-group date">
                                    <label>Fecha de vencimiento</label>
                                    <div class="col-sm-12 input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        @Html.TextBoxFor(m => m.DueDate, new { @class = "form-control", Value = Model.DueDate.ToShortDateString() })
                                    </div>
                                </div>
                            </div>

                            @Html.HiddenFor(m => m.ExchangeRate, new { @class = "form-control", value = "1" })

                            <div class="col-5 col-md-5">
                                <label>Ruta archivo buffer</label>
                                <form id="form-" method="post" enctype="multipart/form-data" accept-charset="utf-8">
                                    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                        <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new"><i class="fa fa-folder-o"></i></span><span class="fileinput-exists"><i class="fa fa-folder-open"></i></span>
                                            <input accept=".xlsx, .xls, .xlsm" type="file" name="FileData" id="FileData">
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" id="delete" data-dismiss="fileinput">Borrar</a>
                                    </div>
                                </form>
                            </div>

                            <div class="col-3 col-md-3">
                                <div class="form-group date">
                                    <label>Rango correspondiente</label>
                                    @Html.TextBoxFor(m => m.RangeCorresponding, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4 col-md-4">
                                <div class="form-group">
                                    <label>Nota de NC</label>
                                    <div class="col-sm-12 input-group">
                                        @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "5" })
                                        <input type="hidden" id="noteNC" name="noteNC" value="@noteNC" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 col-md-4">
                                <div class="form-group">
                                    <label>Nota de ND</label>
                                    <div class="col-sm-12 input-group">
                                        @Html.TextAreaFor(m => m.NoteSecondary, new { @class = "form-control", @rows = "5" })
                                        <input type="hidden" id="noteND" name="noteND" value="@noteND" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="ibox">
                                        <h5>Total en Pesos</h5>
                                        <div class="ibox-content">
                                            <h3 id="totalPesos" class="font-bold">
                                                @totalPesos.ToString("N2")
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="ibox">
                                        <h5>Total en Dólares</h5>
                                        <div class="ibox-content">
                                            <h3 id="totalDolar" class="font-bold">
                                                @totalDolar.ToString("N2")
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Clientes</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row table-responsive" id="customerRows">
                        <table class="table informationTable">
                            <thead>
                                <tr>
                                    <th style="width:8%">#</th>
                                    <th style="width:14%">Id. de cliente</th>
                                    <th style="width:13%">Tipo Nota</th>
                                    <th style="width:15%">Moneda</th>
                                    <th style="width:22%">Monto total</th>
                                    <th style="width:22%">Monto aplicado</th>
                                    <th style="width:6%">#</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Lineas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row table-responsive" id="itemRows">
                        <table class="table informationTable">
                            <thead>
                                <tr>
                                    <th style="width:10%">#</th>
                                    <th style="width:25%">Id. de articulo</th>
                                    <th style="width:40%">Descripción</th>
                                    <th style="width:25%">Monto</th>
                                </tr>
                            </thead>

                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Aplicación de facturas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="row table-responsive" id="invoicesRows">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:20%">No. factura</th>
                                    <th style="width:20%">Fecha doc</th>
                                    <th style="width:20%">Fecha venc</th>
                                    <th style="width:20%">NCF</th>
                                    <th style="width:20%">Monto</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-InvoiceApply" class="modal inmodal fadeIn" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Aplicación de facturas</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <h5>Monto Nota de Crédito</h5>
                                <h3 id="totalNC" class="font-bold"></h3>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <h5>Monto Aplicado</h5>
                                <h3 id="totalAplicado" class="font-bold"></h3>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <h5>&nbsp;</h5>
                                <button class="btn btn-primary" onclick="autoApply();"><i class="fa fa-bars"></i> Auto aplicar</button>
                                <button class="btn btn-danger" onclick="removeApply();"><i class="fa fa-remove"></i> No aplicar</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" style="height:400px;overflow:auto" id="invoiceRows">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <button type="button" class="btn btn-success" onclick="saveInvoiceApply();">Aceptar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/laddaStyles")
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/ladda")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-en_US.js"></script>

    <script type="text/javascript">
        var value = "";
        var customerNotFound = [];
        var itemToBilling = [];
        var invoices = [];
        var customerCode;
        var markerCode;
        var currencyCode;
        var amountCode;
        $(document).ready(function () {
            $('#BatchNumber').EnsureMaxLength({
                limit: 15,
                cssClass: '',
                separator: '/',
                placement: null
            });
            $('#BatchDescription').EnsureMaxLength({
                limit: 61,
                cssClass: '',
                separator: '/',
                placement: null
            });
            $('#ResolutionNumber').EnsureMaxLength({
                limit: 20,
                cssClass: '',
                separator: '/',
                placement: null
            });
            $('#Note').EnsureMaxLength({
                limit: 2000,
                cssClass: '',
                separator: '/',
                placement: null
            });
            $('#NoteSecondary').EnsureMaxLength({
                limit: 2000,
                cssClass: '',
                separator: '/',
                placement: null
            });
            $('#RangeCorresponding').EnsureMaxLength({
                limit: 250,
                cssClass: '',
                separator: '/',
                placement: null
            });
            $('#DocumentDate').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                minDate: new Date(@lastDate.Year, @lastDate.Month, @lastDate.Day)
            });
            $('#DueDate').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                minDate: new Date(@lastDate.Year, @lastDate.Month, @lastDate.Day)
            });
            if ($('#BatchNumber').val().trim() !== '') {
                $('#getFileButton').hide();
                generateHeader();
                $('#BatchNumber').prop('readonly', true);
            } else
                $('#ExchangeRate').val('1');
            $('.ladda-button').ladda();
            if ($('#ExchangeRate').val() !== '') {
                $('#ExchangeRate').val(parseFloat($('#ExchangeRate').val()).toFixed(4));
            }

            $('#ResolutionNumber').focusout(function () {
                var jsDate = $('#DocumentDate').datepicker('getDate');
                if (jsDate !== null) {
                    jsDate instanceof Date;
                }
                $('#Note').val($('#noteNC').val()
                    .replace("${ResolutionNumber}", $('#ResolutionNumber').val())
                    .replace("${MonthDescription}", parseDescription(jsDate.getMonth()))
                    .replace("${Year}", jsDate.getFullYear())
                    .replace("${BatchDescription}", $('#BatchDescription').val())
                    .replace("${BatchNumber}", $('#BatchNumber').val()));
                $('#NoteSecondary').val($('#noteND').val()
                    .replace("${ResolutionNumber}", $('#ResolutionNumber').val())
                    .replace("${MonthDescription}", parseDescription(jsDate.getMonth()))
                    .replace("${Year}", jsDate.getFullYear())
                    .replace("${BatchDescription}", $('#BatchDescription').val())
                    .replace("${BatchNumber}", $('#BatchNumber').val()));
            });
            $('#BatchDescription').focusout(function () {
                var jsDate = $('#DocumentDate').datepicker('getDate');
                if (jsDate !== null) {
                    jsDate instanceof Date;
                }
                $('#Note').val($('#noteNC').val()
                    .replace("${ResolutionNumber}", $('#ResolutionNumber').val())
                    .replace("${MonthDescription}", parseDescription(jsDate.getMonth()))
                    .replace("${Year}", jsDate.getFullYear())
                    .replace("${BatchDescription}", $('#BatchDescription').val())
                    .replace("${BatchNumber}", $('#BatchNumber').val()));
                $('#NoteSecondary').val($('#noteND').val()
                    .replace("${ResolutionNumber}", $('#ResolutionNumber').val())
                    .replace("${MonthDescription}", parseDescription(jsDate.getMonth()))
                    .replace("${Year}", jsDate.getFullYear())
                    .replace("${BatchDescription}", $('#BatchDescription').val())
                    .replace("${BatchNumber}", $('#BatchNumber').val()));
            });
            $('#RangeCorresponding').focusout(function () {
                var jsDate = $('#DocumentDate').datepicker('getDate');
                if (jsDate !== null) {
                    jsDate instanceof Date;
                }
                $('#Note').val($('#noteNC').val()
                    .replace("${RangeCorresponding}", $('#RangeCorresponding').val())
                    .replace("${ResolutionNumber}", $('#ResolutionNumber').val())
                    .replace("${MonthDescription}", parseDescription(jsDate.getMonth()))
                    .replace("${Year}", jsDate.getFullYear())
                    .replace("${BatchDescription}", $('#BatchDescription').val())
                    .replace("${BatchNumber}", $('#BatchNumber').val()));
                $('#NoteSecondary').val($('#noteND').val()
                    .replace("${RangeCorresponding}", $('#RangeCorresponding').val())
                    .replace("${ResolutionNumber}", $('#ResolutionNumber').val())
                    .replace("${MonthDescription}", parseDescription(jsDate.getMonth()))
                    .replace("${Year}", jsDate.getFullYear())
                    .replace("${BatchDescription}", $('#BatchDescription').val())
                    .replace("${BatchNumber}", $('#BatchNumber').val()));
            });
        });

        function parseDescription(month) {
            switch (month) {
                case 1:
                    return "enero";
                case 2:
                    return "febrero";
                case 3:
                    return "marzo";
                case 4:
                    return "abril";
                case 5:
                    return "mayo";
                case 6:
                    return "junio";
                case 7:
                    return "julio";
                case 8:
                    return "agosto";
                case 9:
                    return "septiembre";
                case 10:
                    return "octubre";
                case 11:
                    return "noviembre";
                case 12:
                    return "diciembre";
                default:
                    return "enero";
            }
        }

        function getTransactionFile() {
            var isAllValid = true;
            var formdata = new FormData($('#form-')[0]);
            if (formdata === null) {
                toastr.info("Debe de especificar un archivo para poder procesarlo");
                isAllValid = false;
            }
            if ($('#BatchNumber').val() === '') {
                toastr.info("Debe de especificar un id. de lote para poder procesar el archivo");
                isAllValid = false;
            }

            if (isAllValid) {
                toastr.info('Procesando el archivo, por favor espere', 'Proceso');
                $('#getFileButton').ladda('start');

                $.ajax({
                    url: '@Url.Action("GetReliquidationTransactionFile", "Billing")?batchNumber=' + $('#BatchNumber').val(),
                    type: 'POST',
                    data: formdata,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.status === "OK") {
                            $('#getFileButton').ladda('stop');
                            var $table = $('<table  class="table table-stripped" id="customerTable"/>');
                            var thead = '<thead>' +
                                '<tr>' +
                                '<th style="width:8%">Excluir</th>' +
                                '<th style="width:14%">Id. de cliente</th>' +
                                '<th style="width:13%">Tipo nota</th>' +
                                '<th style="width:15%">Moneda</th>' +
                                '<th style="width:22%">Monto total</th>' +
                                '<th style="width:22%">Monto aplicado</th>' +
                                '<th style="width:6%">#</th>' +
                                '</tr>' +
                                '</thead>';
                            $table.append(thead);
                            var $tbody = $('<tbody/>');
                            $.each(result.registros,
                                function (x, item) {
                                    var $row = $('<tr/>');
                                    var $labelCheck = $('<label>');
                                    var $checkInput;
                                    var $applyButton = $('<button type="button" class="btn btn-danger btn-xs">Aplicar</button>');
                                    var $checkDiv = $('<div class="checkbox checkbox-success checkbox-circle text-center" style="margin-top: 1px; margin-bottom: 1px;">');
                                    if (item.Exclude === false)
                                        $checkInput = $('<input type="checkbox" name="check">');
                                    else
                                        $checkInput = $('<input type="checkbox" name="check" checked="checked">');
                                    $checkDiv.append($checkInput).append($labelCheck);
                                    $row.append($('<td/>').html($checkDiv));
                                    $row.append($('<td/>').html(item.Debtor));
                                    $row.append($('<td/>').html(item.DocumentType));
                                    $row.append($('<td/>').html(item.CurrencyId));
                                    $row.append($('<td/>').html(parseFloat(item.TotalAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                    $row.append($('<td/>').html("0.00"));
                                    $row.append($('<td/>').html($applyButton));
                                    $($row).click(function () {
                                        $(this).addClass('selected').siblings().removeClass('selected');
                                        generateDetails(item.Debtor, item.Marker);
                                        generateInvoices(item.Debtor, item.Marker);
                                    });
                                    $applyButton.click(function () {
                                        $('#totalNC').html(parseFloat(item.TotalAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                            return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                        }));
                                        $('#totalAplicado').html("0.00");
                                        customerCode = item.Debtor;
                                        markerCode = item.Marker;
                                        currencyCode = item.CurrencyId;
                                        amountCode = item.TotalAmount;
                                        getInvoiceApply(item.Debtor, item.Marker, item.CurrencyId, item.TotalAmount);
                                    });
                                    $checkInput.click(function () {
                                        if ($(this).is(':checked'))
                                            updateMemBillingCustomerExclusion(item.Debtor, true);
                                        else
                                            updateMemBillingCustomerExclusion(item.Debtor, true);
                                    });
                                    $tbody.append($row);
                                });

                            $table.append($tbody);
                            $('#customerRows').html($table);
                            $('#totalPesos').html(parseFloat(result.totalPesos).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            }));
                            $('#totalDolar').html(parseFloat(result.totalDolar).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            }));
                           
                        } else {
                            swal({
                                title: "ERROR",
                                text: result.status,
                                type: "error"
                            });
                        }
                        $('#getFileButton').ladda('stop');
                    }
                });
            }
        }

        function getInvoiceApply(code, marker, currencyId, amount) {
            $('#modal-InvoiceApply').modal({ backdrop: 'static', keyboard: false, action: 'show' });
            $.ajax({
                url: '@Url.Action("GetReliquidationDocumentsForApply", "Billing")?batchNumber=' + $('#BatchNumber').val() + "&customerId=" + code + '&flag=' + marker + '&currencyId=' + currencyId + '&amount=' + amount,
                type: "POST",
                data: "",
                cache: false,
                async: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    var $table = $('<table class="table table-stripped" id="invoiceTable"/>');
                    $table.append(
                        '<thead>' +
                        '<tr>' +
                        '<th style="width:8%">#</th>' +
                        '<th style="width:14%">Id. de factura</th>' +
                        '<th style="width:6%">Tipo</th>' +
                        '<th style="width:13%">Fecha de documento</th>' +
                        '<th style="width:13%">Fecha de vencimiento</th>' +
                        '<th style="width:9%">NCF</th>' +
                        '<th style="width:16%">Monto pendiente</th>' +
                        '<th style="width:16%">Aplicar monto</th>' +
                        '<th style="width:5%"></th>' +
                        '</tr>' +
                        '</thead>');
                    if (result.registros.length > 0) {
                        var $tbody = $('<tbody/>');
                        $.each(result.registros, function (i, val) {
                            var $row = $('<tr/>');
                            var $inputCurrentAmount = $('<input name="CurrentAmount" class="form-control" type="text" readonly="readonly" />');
                            var $inputDocumentAmount = $('<input name="DocumentAmount" class="form-control" type="text" readonly="readonly"/>');
                            var $edit = $('<button class="btn btn-white btn-xs"><i class="fa fa-book fa"></button>');
                            var $remove = $('<button class="btn btn-white btn-xs"><i class="fa fa-remove fa"></button>');
                            var $btnGroup = $('<div class="btn-group"/>');

                            $btnGroup.append($edit);
                            $btnGroup.append($remove);
                            $row.append($('<td/>').html($btnGroup));
                            $row.append($('<td />').html(val.DocumentNumber));
                            $row.append($('<td />').html(val.Module));
                            $row.append($('<td />').html(val.DocumentDate));
                            $row.append($('<td />').html(val.DueDate));
                            $row.append($('<td />').html(val.Ncf));
                            $inputCurrentAmount.val(parseFloat(val.CurrentAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            }));
                            $inputDocumentAmount.val(parseFloat(val.AppliedAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            }));
                            $('<td/>').append($inputCurrentAmount).appendTo($row);
                            $('<td/>').append($inputDocumentAmount).appendTo($row);
                            if (val.DocumentType === 0)
                                $row.append($('<td />').html('<i class="fa fa-arrow-down" />'));
                            else
                                $row.append($('<td />').html('<i class="fa fa-arrow-up" />'));
                            $edit.click(function (e) {
                                e.preventDefault();
                                if ((parseFloat($('#totalNC').html().replace(/,/g, "")) - parseFloat($('#totalAplicado').html().replace(/,/g, ""))) > 0) {
                                    var amountAlready = parseFloat(parseFloat($('#totalNC').html().replace(/,/g, "")) - parseFloat($('#totalAplicado').html().replace(/,/g, "")));
                                    if (parseFloat($inputCurrentAmount.val().replace(/,/g, "")) > amountAlready) {
                                        $inputDocumentAmount.val(amountAlready.toFixed(2).replace(/./g, function (c, i, a) {
                                            return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                        }));
                                        $inputCurrentAmount.val((parseFloat($inputCurrentAmount.val().replace(/,/g, "")) - amountAlready).toFixed(2).replace(/./g, function (c, i, a) {
                                            return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                        }));
                                    } else {
                                        $inputDocumentAmount.val(parseFloat($inputCurrentAmount.val().replace(/,/g, "")).toFixed(2).replace(/./g, function (c, i, a) {
                                            return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                        }));
                                        $inputCurrentAmount.val("0.00");
                                    }
                                    amountApply();
                                }
                            });
                            $remove.click(function (e) {
                                e.preventDefault();
                                var documentAmount = parseFloat(parseFloat($inputCurrentAmount.val().replace(/,/g, "")) + parseFloat($inputDocumentAmount.val().replace(/,/g, "")));
                                $inputCurrentAmount.val(documentAmount.toFixed(2).replace(/./g, function (c, i, a) {
                                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                }));
                                $inputDocumentAmount.val("0.00");
                                amountApply();
                            });
                            $tbody.append($row);
                        });
                        $table.append($tbody);
                    }
                    $('#invoiceRows').html($table);
                    amountApply();
                }
            });
        }

        function amountApply() {
            var monto = 0;
            $('#invoiceTable > tbody > tr').each(function () {
                var $row = $(this);
                if ($row.find("input[name=DocumentAmount]").val() != 'undefined') {
                    monto += Math.abs(parseFloat($row.find("input[name=DocumentAmount]").val().replace(/,/g, "")));
                }
            });

            if (monto != 'undefined') {
                $('#totalAplicado').html(monto.toFixed(2).replace(/./g, function (c, i, a) {
                    return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                }));
            }
        }

        function autoApply() {
            var monto = 0;
            var amountToApply = parseFloat(parseFloat($('#totalNC').html().replace(/,/g, "")).toFixed(2) - parseFloat($('#totalAplicado').html().replace(/,/g, "")));
            $('#invoiceTable > tbody > tr').each(function () {
                var $row = $(this);
                if (amountToApply > monto) {
                    if (parseFloat($row.find("input[name=CurrentAmount]").val().replace(/,/g, "")) > 0) {
                        if (parseFloat($row.find("input[name=CurrentAmount]").val().replace(/,/g, "")) > amountToApply) {
                            monto += amountToApply;
                            $row.find("input[name=DocumentAmount]").val(amountToApply.toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            }));
                            $row.find("input[name=CurrentAmount]").val((parseFloat($row.find("input[name=CurrentAmount]").val().replace(/,/g, "")) - amountToApply).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            }));
                        } else {
                            monto += parseFloat($row.find("input[name=CurrentAmount]").val().replace(/,/g, ""));
                            $row.find("input[name=DocumentAmount]").val(parseFloat($row.find("input[name=CurrentAmount]").val().replace(/,/g, "")).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            }));
                            $row.find("input[name=CurrentAmount]").val("0.00");
                        }
                        amountToApply = parseFloat(parseFloat($('#totalNC').html().replace(/,/g, "")) - monto);
                    }
                }
            });

            amountApply();
        }

        function removeApply() {
            $.ajax({
                url: '@Url.Action("RemoveApplyReliquidationTransaction", "Billing")?batchNumber=' + $('#BatchNumber').val() + '&customerId=' + customerCode + '&marker=' + markerCode,
                type: "POST",
                data: "",
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    if (result.status === "OK") {
                        getInvoiceApply(customerCode, markerCode, currencyCode, amountCode);
                    } else {
                        swal({
                            title: "ERROR",
                            text: result.status,
                            type: "error"
                        });
                    }
                }
            });
        }

        function generateHeader() {
             $.ajax({
                 url: '@Url.Action("GetReliquidationTransactionHeader", "Billing")?batchNumber=' + $('#BatchNumber').val(),
                type: "POST",
                data: "",
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                     if (result.status === "OK") {
                         var $table = $('<table  class="table table-stripped" id="customerTable"/>');
                         var thead = '<thead>' +
                             '<tr>' +
                             '<th style="width:8%">Excluir</th>' +
                             '<th style="width:14%">Id. de cliente</th>' +
                             '<th style="width:13%">Tipo nota</th>' +
                             '<th style="width:15%">Moneda</th>' +
                             '<th style="width:22%">Monto total</th>' +
                             '<th style="width:22%">Monto aplicado</th>' +
                             '<th style="width:6%">#</th>' +
                             '</tr>' +
                             '</thead>';
                         $table.append(thead);
                         var $tbody = $('<tbody/>');
                         $.each(result.registros,
                             function (x, item) {
                                 var $row = $('<tr/>');
                                 var $labelCheck = $('<label>');
                                 var $applyButton = $('<button type="button" class="btn btn-danger btn-xs">Aplicar</button>');
                                 var $checkInput;
                                 var $checkDiv = $('<div class="checkbox checkbox-success checkbox-circle text-center" style="margin-top: 1px; margin-bottom: 1px;">');
                                 if (item.Exclude === false)
                                     $checkInput = $('<input type="checkbox" name="check">');
                                 else
                                     $checkInput = $('<input type="checkbox" name="check" checked="checked">');
                                 $checkDiv.append($checkInput).append($labelCheck);
                                 $row.append($('<td/>').html($checkDiv));
                                 $row.append($('<td/>').html(item.CustomerId));
                                 $row.append($('<td/>').html(item.DocumentType));
                                 $row.append($('<td/>').html(item.CurrencyId));
                                 $row.append($('<td/>').html(parseFloat(item.TotalAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                     return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                 })));
                                 $row.append($('<td/>').html(parseFloat(item.TotalApplyAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                     return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                 })));
                                 $row.append($('<td/>').html($applyButton));
                                 $($row).click(function () {
                                     $(this).addClass('selected').siblings().removeClass('selected');
                                     generateDetails(item.Debtor, item.Marker);
                                     generateInvoices(item.Debtor, item.Marker);
                                 });
                                 $applyButton.click(function () {
                                     $('#totalNC').html(parseFloat(item.TotalAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                         return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                     }));
                                     $('#totalAplicado').html("0.00");
                                     customerCode = item.Debtor;
                                     markerCode = item.Marker;
                                     currencyCode = item.CurrencyId;
                                     amountCode = item.TotalAmount;
                                     getInvoiceApply(item.Debtor, item.Marker, item.CurrencyId, item.TotalAmount);
                                 });
                                 $checkInput.click(function () {
                                     if ($(this).is(':checked'))
                                         updateMemBillingCustomerExclusion(item.Debtor, true);
                                     else
                                         updateMemBillingCustomerExclusion(item.Debtor, false);
                                 });
                                 $tbody.append($row);
                             });

                         $table.append($tbody);
                         $('#customerRows').html($table);
                     } else {
                         swal({
                             title: "ERROR",
                             text: result.status,
                             type: "error"
                         });
                     }
                 }
            });
        }

        function generateDetails(code, marker) {
            $.ajax({
                url: '@Url.Action("GetReliquidationTransactionDetail", "Billing")?batchNumber=' + $('#BatchNumber').val() + "&customerId=" + code + '&flag=' + marker,
                type: "POST",
                data: "",
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    var $table = $('<table class="table table-stripped"/>');
                    $table.append(
                        '<thead>' +
                        '<tr>' +
                        '<th style="width:10%">Excluir</th>' +
                        '<th style="width:25%">Id. de articulo</th>' +
                        '<th style="width:40%">Descripción</th>' +
                        '<th style="width:25%">Monto</th>' +
                        '</tr>' +
                        '</thead>');
                    if (result.registros.length > 0) {
                        var $tbody = $('<tbody/>');
                        $.each(result.registros, function (i, val) {
                            var $row = $('<tr/>');
                            var $labelCheck = $('<label>');
                            var $checkInput;
                            var $checkDiv = $('<div class="checkbox checkbox-success checkbox-circle text-center" style="margin-top: 1px; margin-bottom: 1px;">');
                            if (val.Exclude === false)
                                $checkInput = $('<input type="checkbox" name="check">');
                            else
                                $checkInput = $('<input type="checkbox" name="check" checked="checked">');
                            $checkDiv.append($checkInput).append($labelCheck);
                            $row.append($('<td/>').html($checkDiv));
                            $row.append($('<td/>').html(val.ProductId));
                            $row.append($('<td/>').html(val.ProductName));
                            $row.append($('<td/>').html(parseFloat(val.Amount).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                            $checkInput.click(function () {
                                if ($(this).is(':checked'))
                                    updateMemBillingProductExclusion(code, val.ProductId, true);
                                else
                                    updateMemBillingProductExclusion(code, val.ProductId, false);
                            });
                            $tbody.append($row);
                        });
                        $table.append($tbody);
                    }
                    $('#itemRows').html($table);
                }
            });
        }

        function generateInvoices(code, marker) {
            $.ajax({
                url: '@Url.Action("GetReliquidationTransactionInvoice", "Billing")?batchNumber=' + $('#BatchNumber').val() + "&customerId=" + code + '&flag=' + marker,
                type: "POST",
                data: "",
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    var $table = $('<table class="table table-stripped"/>');
                    $table.append(
                        '<thead>' +
                        '<tr>' +
                        '<th style="width:20%">No. factura</th>' +
                        '<th style="width:20%">Fecha doc</th>' +
                        '<th style="width:20%">Fecha venc</th>' +
                        '<th style="width:20%">NCF</th>' +
                        '<th style="width:20%">Monto</th>' +
                        '</tr>' +
                        '</thead>');
                    if (result.registros.length > 0) {
                        var $tbody = $('<tbody/>');
                        $.each(result.registros, function (i, val) {
                            var $row = $('<tr/>');
                            $row.append($('<td/>').html(val.DocumentNumber));
                            $row.append($('<td/>').html(val.DocumentDate));
                            $row.append($('<td/>').html(val.DueDate));
                            $row.append($('<td/>').html(val.Ncf));
                            $row.append($('<td/>').html(parseFloat(val.CurrentAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                            })));
                            $tbody.append($row);
                        });
                        $table.append($tbody);
                    }
                    $('#invoicesRows').html($table);
                }
            });
        }

        function verifyTransaction() {
            var isAllValid = true;
            if ($('#BatchNumber').val().trim() == '') {
                toastr.error('Debe de especificar un id. de lote', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#BatchDescription').val().trim() == '') {
                toastr.error('Debe de especificar una descripción', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#DocumentDate').val().trim() == '') {
                toastr.error('Debe de especificar una fecha de documento', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#DueDate').val().trim() == '') {
                toastr.error('Debe de especificar una fecha de vencimiento', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#ResolutionNumber').val().trim() == '') {
                toastr.error('Debe de especificar un numero de resolución', 'Campos requeridos')
                isAllValid = false;
            }

            if (parseFloat($('#totalPesos').html().trim().replace(/,/g, "")) === 0
                && parseFloat($('#totalDolar').html().trim().replace(/,/g, "")) === 0) {
                toastr.error('Debe de procesar un archivo de transacciones para continuar', 'Campos requeridos')
                isAllValid = false;
            }
            if (parseFloat($('#totalDolar').html().trim().replace(/,/g, "")) > 0) {
                if ($('#ExchangeRate').val().trim() === '') {
                    toastr.error('Existen transacciones con moneda diferente de pesos debe de especificar una tasa para continuar', 'Campos requeridos')
                    isAllValid = false;
                }
            }

            $('#customerTable > tbody > tr').each(function () {
                if ($(this).find('td:eq(2)').html().trim() !== 'ND') {
                    if (parseFloat($(this).find('td:eq(5)').html().trim()) < parseFloat($(this).find('td:eq(4)').html().trim())) {
                        isAllValid = false;
                        toastr.error('Existen documentos que no se tienen el monto completo aplicado o no se la ha aplicado alguna factura', 'Campos requeridos')
                        return false;
                    }
                }
            });

            if (isAllValid) {
                verifyNcfAvailability();
            }
        }

        function verifyNcfAvailability() {
            var data = {
                BatchNumber: $('#BatchNumber').val().trim(),
                BatchDescription: $('#BatchDescription').val().trim(),
                ResolutionNumber: $('#ResolutionNumber').val().trim(),
                Note: $('#Note').val().trim(),
                NoteSecondary: $('#NoteSecondary').val().trim(),
                FilePath: '',
                DocumentDate: $('#DocumentDate').val().trim(),
                DueDate: $('#DueDate').val().trim(),
                ExchangeRate: $('#ExchangeRate').val().trim(),
                RangeCorresponding: $('#RangeCorresponding').val().trim(),
                billingMonth: '01/01/1900',
                billingType: 30
            };
            $.ajax({
                url: '@Url.Action("SaveMemBillingTransaction", "Billing")',
                type: "POST",
                data: JSON.stringify(data),
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    if (result.status === "OK") {
                        $.ajax({
                            url: '@Url.Action("VerifyReliquidationNcfAvailability", "Billing")?batchNumber=' + $('#BatchNumber').val() + '&preInvoice=1&batch=0&billingType=30',
                            type: "POST",
                            data: "",
                            cache: false,
                            async: false,
                            dataType: "JSON",
                            contentType: "application/json",
                            success: function (result) {
                                if (result.status !== "OK") {
                                    swal({
                                        title: "INFORMACIÓN",
                                        text: result.status,
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Si, proceder!",
                                        cancelButtonText: "No, cancelar!",
                                        closeOnConfirm: false
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            post();
                                        }
                                    });
                                } else {
                                    post();
                                }
                            }
                        });
                    } else {
                        swal({
                            title: "ERROR",
                            text: result.status,
                            type: "error"
                        });
                    }
                    $('#postButton').ladda('stop');
                }
            });
        }

        function saveInvoiceApply() {
            var isAllValid = true;
            if (isAllValid) {
                $('#invoiceTable > tbody > tr').each(function () {
                    if (parseFloat($(this).find('td:eq(7) input').val().replace(/,/g, "")) > 0) {
                        var data = {
                            batchNumber: $('#BatchNumber').val(),
                            customerId: customerCode,
                            sopNumber: $(this).find('td:eq(1)').html().trim(),
                            documentDate: $(this).find('td:eq(3)').html(),
                            dueDate: $(this).find('td:eq(4)').html(),
                            applyAmount: parseFloat($(this).find('td:eq(7) input').val().replace(/,/g, "")),
                            ncf: $(this).find('td:eq(5)').html().trim(),
                            flag: markerCode
                        };
                        $.ajax({
                            url: '@Url.Action("SaveReliquidationTransactionInvoiceApply", "Billing")',
                            type: "POST",
                            data: JSON.stringify(data),
                            cache: false,
                            async: false,
                            dataType: "JSON",
                            contentType: "application/json",
                            success: function (result) { }
                        });
                    }
                });
                $('#modal-InvoiceApply').modal('hide');
                generateHeader();
            }
        }

        function save() {
            var isAllValid = true;
            $('#saveButton').ladda('start');
            var isAllValid = true;
            if ($('#BatchNumber').val().trim() == '') {
                toastr.error('Debe de especificar un id. de lote', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#BatchDescription').val().trim() == '') {
                toastr.error('Debe de especificar una descripción', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#DocumentDate').val().trim() == '') {
                toastr.error('Debe de especificar una fecha de documento', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#DueDate').val().trim() == '') {
                toastr.error('Debe de especificar una fecha de vencimiento', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#ResolutionNumber').val().trim() == '') {
                toastr.error('Debe de especificar un numero de resolución', 'Campos requeridos')
                isAllValid = false;
            }

            if (parseFloat($('#totalPesos').html().trim().replace(/,/g, "")) === 0
                && parseFloat($('#totalDolar').html().trim().replace(/,/g, "")) === 0) {
                toastr.error('Debe de procesar un archivo de transacciones para continuar', 'Campos requeridos')
                isAllValid = false;
            }
            if (parseFloat($('#totalDolar').html().trim().replace(/,/g, "")) > 0) {
                if ($('#ExchangeRate').val().trim() === '') {
                    toastr.error('Existen transacciones con moneda diferente de pesos debe de especificar una tasa para continuar', 'Campos requeridos')
                    isAllValid = false;
                }
            }

            if (isAllValid) {
                var data = {
                    BatchNumber: $('#BatchNumber').val().trim(),
                    BatchDescription: $('#BatchDescription').val().trim(),
                    ResolutionNumber: $('#ResolutionNumber').val().trim(),
                    Note: $('#Note').val().trim(),
                    NoteSecondary: $('#NoteSecondary').val().trim(),
                    FilePath: '',
                    DocumentDate: $('#DocumentDate').val().trim(),
                    DueDate: $('#DueDate').val().trim(),
                    ExchangeRate: $('#ExchangeRate').val().trim(),
                    RangeCorresponding: $('#RangeCorresponding').val().trim(),
                    billingMonth: '01/01/1900',
                    billingType: 30
                };
                $.ajax({
                    url: '@Url.Action("SaveMemBillingTransaction", "Billing")',
                    type: "POST",
                    data: JSON.stringify(data),
                    cache: false,
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (result) {
                        if (result.status === "OK") {
                            window.location.href = '@Url.Action("ReliquidationEntryIndex", "Billing")';
                        } else {
                            swal({
                                title: "ERROR",
                                text: result.status,
                                type: "error"
                            });
                        }
                        $('#saveButton').ladda('stop');
                    }
                });
            }
            else {
                $('#saveButton').ladda('stop');
            }
        }

        function post() {
            if ($('#DocumentDate').val().trim() === $('#DueDate').val().trim()) {
                swal({
                    title: "Fecha",
                    text: "La fecha de vencimiento es la misma que la del dia de hoy esta seguro que desea continuar ?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Si, proceder!",
                    cancelButtonText: "No, cancelar!",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            url: '@Url.Action("PostReliquidationTransactionEntry", "Billing")?batchNumber=' + $('#BatchNumber').val().trim() + '&billingType=30',
                            type: "POST",
                            data: "",
                            cache: false,
                            async: false,
                            dataType: "JSON",
                            contentType: "application/json",
                            success: function (result) {
                                if (result.status === "OK") {
                                    swal({
                                        title: "PREGUNTA",
                                        text: "Desea ir directamente hacia la pantalla de pre-facturación ?",
                                        type: "warning",
                                        showCancelButton: true,
                                        confirmButtonColor: "#DD6B55",
                                        confirmButtonText: "Si, deseo ir!",
                                        cancelButtonText: "No, quedarme!",
                                        closeOnConfirm: false
                                    }, function (isConfirm) {
                                        if (isConfirm) {
                                            window.location.href = '@Url.Action("MemBillingTransactionIndex", "Billing")';
                                        } else {
                                            window.location.href = '@Url.Action("ReliquidationEntryIndex", "Billing")';
                                        }
                                    });
                                } else {
                                    swal({
                                        title: "ERROR",
                                        text: result.status,
                                        type: "error"
                                    });
                                }
                                $('#postButton').ladda('stop');
                            }
                        });
                    } else {
                        $('#postButton').ladda('stop');
                    }
                });
            } else {
                $.ajax({
                    url: '@Url.Action("PostReliquidationTransactionEntry", "Billing")?batchNumber=' + $('#BatchNumber').val().trim() + '&billingType=30',
                    type: "POST",
                    data: "",
                    cache: false,
                    async: false,
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (result) {
                        if (result.status === "OK") {
                            swal({
                                title: "PREGUNTA",
                                text: "Desea ir directamente hacia la pantalla de pre-facturación ?",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Si, deseo ir!",
                                cancelButtonText: "No, quedarme!",
                                closeOnConfirm: false
                            }, function (isConfirm) {
                                if (isConfirm)
                                    window.location.href = '@Url.Action("MemBillingTransactionIndex", "Billing")';
                                else
                                    window.location.href = '@Url.Action("ReliquidationEntryIndex", "Billing")';
                            });
                        } else {
                            swal({
                                title: "ERROR",
                                text: result.status,
                                type: "error"
                            });
                        }
                        $('#postButton').ladda('stop');
                    }
                });
            }
        }

        function updateMemBillingProductExclusion(customerId, code, exclude) {
            $.ajax({
                url: '@Url.Action("UpdateReliquidationTransactionProductExclusion", "Billing")?batchNumber=' + $('#BatchNumber').val() + "&customerId=" + customerId + "&productId=" + code + "&exclude=" + exclude,
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    if (result.status !== "OK")
                        alert(result.status);
                }
            });
        }

        function updateMemBillingCustomerExclusion(code, exclude) {
            $.ajax({
                url: '@Url.Action("UpdateReliquidationTransactionCustomerExclusion", "Billing")?batchNumber=' + $('#BatchNumber').val() + "&customerId=" + code + "&exclude=" + exclude,
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    if (result.status !== "OK")
                        alert(result.status);
                }
            });
        }

        function eliminar() {
            swal({
                title: "Eliminar",
                text: "Esta seguro que desea eliminar este lote ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si, eliminar!",
                cancelButtonText: "No, cancelar!",
                closeOnConfirm: false
            }, function () {
                $.ajax({
                    url: '@Url.Action("DeleteReliquidationTransaction", "Billing")?batchNumber=' + $('#BatchNumber').val(),
                    type: "POST",
                    data: "",
                    cache: false,
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (result) {
                        if (result.status === "OK") {
                            window.location.href = '@Url.Action("ReliquidationEntryIndex", "Billing")';
                        } else {
                            swal({
                                title: "ERROR",
                                text: result.status,
                                type: "error"
                            });
                        }
                    }
                });
            });
        }
    </script>
}