@using Microsoft.AspNet.Identity;
@model IEnumerable<Seaboard.Intranet.Domain.ViewModels.ItemLookup>
@{
    Layout = "~/Views/Shared/_BillingLayout.cshtml";
    ViewBag.Title = "Provincia";
    var countries = (List<Seaboard.Intranet.Domain.ViewModels.Lookup>)ViewBag.Countries;
}
<style>
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Provincia</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Provincia</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <button class="btn btn-primary" onclick="createState();">NUEVA PROVINCIA</button>
                    <div class="hr-line-dashed"></div>
                    <table class="table table-striped table-bordered table-hover informationTable">
                        <thead>
                            <tr>
                                <th style="width: 15%;">País</th>
                                <th style="width: 15%;">Id. de provincia</th>
                                <th style="width: 60%;">Descripción</th>
                                <th style="width: 10%;">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.DataExtended</td>
                                    <td>@item.ItemNam</td>
                                    <td>@item.ItemDesc</td>
                                    <td><button class="btn btn-danger btn-xs" onclick="deleteState('@item.ItemId', '@item.ItemNam');"><i class="fa fa-remove"></i> Eliminar</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-CreateState" class="modal inmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Nueva provincia</h4>
                </div>

                <div class="modal-body">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Seleccione el país:</label>
                            <select class="selectpicker" data-live-search="true" id="CountryId" name="CountryId">
                                <option></option>
                                @foreach (var item in countries)
                                {
                                    <option value="@item.Id.Trim()">@item.Descripción</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Escriba la nueva provincia:</label>
                            <input name="StateDesc" id="StateDesc" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="form-actions no-color">
                        <button type="button" class="btn btn-primary" onclick="saveState();"> Guardar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/toastrStyles")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-en_US.js"></script>

    <script>
        $(document).ready(function () {
            $('#StateDesc').EnsureMaxLength({
                limit: 100,
                cssClass: '',
                separator: '/',
                placement: null
            });
            $('.informationTable').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[0, "desc"]],
                language: {
                    "sProcessing": "Procesando... ",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo":
                        "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                    "sInfoEmpty":
                        "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":
                        "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:  ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                oAria: {
                    "sSortAscending":
                        ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending":
                        ": Activar para ordenar la columna de manera descendente"
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
            $('#CountryId').val("01");
            $('select[name=CountryId]').selectpicker('refresh');
        });

        function createState() {
            $('#modal-CreateState').modal('show');
            $('#StateDesc').val('');
        }

        function saveState() {
            var isAllValid = true;
            if ($('#CountryId').val() === '') {
                toastr.error('Por favor debe de especificar un id. de país para procesar', 'Campos requeridos')
                isAllValid = false;
            }

            if ($('#StateDesc').val() === '') {
                toastr.error('Por favor debe de una descripción para procesar', 'Campos requeridos')
                isAllValid = false;
            }

            if (isAllValid) {
                var data = {
                    CountryId: $('#CountryId').val().trim(),
                    StateDesc: $('#StateDesc').val().trim()
                }
                $.ajax({
                    url: '@Url.Action("SaveState", "Billing")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (result) {
                        if (result.status === "OK") {
                            $('#modal-CreateCountry').modal('hide');
                            window.location.reload();
                        }
                        else {
                            alert(result.status);
                        }
                    }
                });
            }
        }

        function deleteState(countryId, id) {
            if (confirm("Esta seguro que desea eliminar este registro ?")) {
                $.ajax({
                    url: '@Url.Action("DeleteState", "Billing")?countryId=' + countryId + '&stateId=' + id,
                    type: "POST",
                    data: "",
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (result) {
                        if (result.status === "OK") {
                            window.location.reload();
                        }
                        else {
                            alert(result.status);
                        }
                    }
                });
            }
        }
    </script>
}