@{
    Layout = "~/Views/Shared/_AccountingLayout.cshtml";
    ViewBag.Title = "Busqueda de documentos";
}

<style>
    .glyphicon.fa {
        font-family: 'Glyphicons Halflings';
    }
</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Busqueda de documentos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Billing")">Inicio</a>
            </li>
            <li class="active">
                <strong>Busqueda de documentos</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>Busqueda de documentos</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="col-sm-12 col-sm-offset-1">
                                <button class="btn btn-primary" type="button" onclick="consultar();"><i class="fa fa-search"></i> Consultar</button>
                                <button class="btn btn-info" type="button" onclick="borrar();"><i class="fa fa-eraser"></i> Borrar</button>
                                <br />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="hr-line-dashed"></div>
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Id de proveedor:</label>
                                <div class="col-sm-7 input-group">
                                    <input type="text" name="SupplierNumber" id="SupplierNumber" class="form-control" />
                                    <span class="input-group-btn">
                                        <button id="lookupSuplidor" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Tipo de factura:</label>
                                <div class="col-sm-7 input-group">
                                    <select class="form-control" id="DocumentType" name="DocumentType">
                                        <option value="0">Todos</option>
                                        <option value="11">Proveedor informal</option>
                                        <option value="13">Gasto menor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Estado :</label>
                                <div class="col-sm-7 input-group">
                                    <select class="form-control" id="DocumentStatus" name="DocumentStatus">
                                        <option value="0">Todos</option>
                                        <option value="1">En borrador</option>
                                        <option value="2">Registrado</option>
                                        <option value="3">Anulado</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">NCF:</label>
                                <div class="col-sm-7 input-group">
                                    <input type="text" name="Ncf" id="Ncf" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Cuenta contable:</label>
                                <div class="col-sm-7 input-group">
                                    <input type="text" name="AccountNumber" id="AccountNumber" class="form-control" />
                                    <span class="input-group-btn">
                                        <button id="lookupCuenta" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Moneda:</label>
                                <div class="col-sm-7 input-group">
                                    <input type="text" name="CurrencyId" id="CurrencyId" class="form-control" />
                                    <span class="input-group-btn">
                                        <button id="lookupMoneda" type="button" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Rango de fecha:</label>
                                <div class="col-sm-7 input-group">
                                    <input type="text" name="daterange" id="daterange" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="table-responsive" id="invoiceRows">
                        <table class="table table-striped table-bordered table-hover informationTable">
                            <thead>
                                <tr>
                                    <th style="width: 11% ">No. de documento</th>
                                    <th style="width:11%">Tipo de doc.</th>
                                    <th style="width:11%">Ncf</th>
                                    <th style="width:25%">Proveedor / Referencia</th>
                                    <th style="width:6%">Moneda</th>
                                    <th style="width:11%">Fecha de doc.</th>
                                    <th style="width:15%">Monto</th>
                                    <th style="width:10%">#</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/plugins/dateRangeStyles")
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")
    @Scripts.Render("~/plugins/dataTables")

    <script>
        var date;
        $(document).ready(function () {
            $.formattedDate = function (dateToFormat) {
                var dateObject = new Date(dateToFormat);
                var day = dateObject.getDate();
                var month = dateObject.getMonth() + 1;
                var year = dateObject.getFullYear();
                day = day < 10 ? "0" + day : day;
                month = month < 10 ? "0" + month : month;
                var formattedDate = month + "/" + day + "/" + year;
                return formattedDate;
            };
            $('.informationTable').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                language: {
                    "sProcessing": "Procesando... ",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo":
                        "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                    "sInfoEmpty":
                        "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":
                        "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:  ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                oAria: {
                    "sSortAscending":
                        ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending":
                        ": Activar para ordenar la columna de manera descendente"
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
            $("#lookupMoneda").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=5&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=CurrencyId]').val(data.Id);
                },
                tableHeader: ['Id. de moneda', 'Descripción'],
                hiddenFields: ['DataExtended','DataPlus']
            });
            $("#lookupSuplidor").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("GetSupplierLookup", "Accounting")?consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=SupplierNumber]').val(data.Id);
                },
                tableHeader: ['Id. de proveedor', 'Nombre'],
                hiddenFields: ['DataExtended','DataPlus']
            });
            $("#lookupCuenta").lookupbox({
                title: 'Busqueda:',
                url: '@Url.Action("ListLookup", "Home")?tipo=11&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function(data) {
                    $('input[name=AccountNumber]').val(data.Id);
                },
                tableHeader: ['Id. de cuenta', 'Descripcion', 'Alias'],
                hiddenFields: ['DataPlus']
            });
            $('#daterange').daterangepicker({
                format: 'MM/DD/YYYY',
            }, function (start, end, label) {
                date = start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY');
            });
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
        });

        function consultar() {
            var isValid = true;

            if (isValid) {
                toastr.info('Estamos procesando su solicitud', 'Por favor espere');
                var data = {
                    documentType: parseInt($('#DocumentType').val()),
                    documentStatus: parseInt($('#DocumentStatus').val()),
                    supplierNumber: $('#SupplierNumber').val(),
                    ncf: $('#Ncf').val(),
                    accountNumber: $('#AccountNumber').val(),
                    dateRange: date,
                    currencyId: $('#CurrencyId').val(),
                }
                $.ajax({
                    url: '@Url.Action("AccountingTransactionInquiry", "Accounting")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    async: false,
                    cache: false,
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status === "OK") {
                            var $table = $(' <table class="table table-striped table-bordered table-hover informationTable">');
                            $table.append(
                                '<thead>' +
                                '<tr>' +
                                '<th style="width: 11% ">No. de documento</th>' +
                                '<th style="width:11%">Tipo de doc.</th>' +
                                '<th style="width:11%">Ncf</th>' +
                                '<th style="width:25%">Proveedor / Referencia</th>' +
                                '<th style="width:6%">Moneda</th>' +
                                '<th style="width:11%">Fecha de doc.</th>' +
                                '<th style="width:15%">Monto</th>' +
                                '<th style="width:10%">#</th>' +
                                '</tr>' +
                                '</thead>');
                            if (d.registros.length > 0) {
                                var $tbody = $('<tbody/>');
                                $.each(d.registros, function (i, val) {
                                    var $row = $('<tr/>');
                                    var $group = $('<div class="btn-group">');
                                    var $details = $('<button class="btn btn-primary btn-xs"><i class="fa fa-bars"></i></button>');
                                    var $print = $('<button class="btn btn-success btn-xs"><i class="fa fa-print"></i></button>');
                                    $row.append($('<td/>').html(val.DocumentNumber));
                                    $row.append($('<td/>').html(val.PhoneNumber));
                                    $row.append($('<td/>').html(val.Ncf));
                                    $row.append($('<td/>').html(val.SupplierName));
                                    $row.append($('<td/>').html(val.CurrencyId));
                                    $row.append($('<td/>').html($.formattedDate(new Date(parseInt(val.DocumentDate.substr(6))))));
                                    $row.append($('<td/>').html(parseFloat(val.TotalAmount).toFixed(2).replace(/./g, function (c, i, a) {
                                        return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
                                    })));
                                    $row.append($('<td/>').html($group.append($details).append($print)));
                                    $tbody.append($row);
                                    $details.click(function () {
                                        window.location.href = (val.PhoneNumber == "Proveedor Informal" ? '@Url.Action("InformalSupplierInvoice","Accounting")' : '@Url.Action("MinorExpensesInvoice","Accounting")') + '?id=' + val.DocumentNumber;
                                    });
                                    $print.click(function () {
                                        imprimir(val.PhoneNumber == "Proveedor Informal" ? 0 : 1, val.DocumentNumber)
                                    });
                                });
                                $table.append($tbody);
                            }
                            $('#invoiceRows').html($table);
                            $($table).DataTable({
                                pageLength: 10,
                                order: [[0, "desc"]],
                                dom: '<"html5buttons"B>lTfgitp',
                                language: {
                                    "sProcessing": "Procesando... ",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:  ",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    }
                                },
                                oAria: {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                buttons: [
                                    { extend: 'copy' },
                                    { extend: 'csv' },
                                    { extend: 'excel', title: 'ExampleFile' },
                                    { extend: 'pdf', title: 'ExampleFile' },

                                    {
                                        extend: 'print',
                                        customize: function (win) {
                                            $(win.document.body).addClass('white-bg');
                                            $(win.document.body).css('font-size', '10px');

                                            $(win.document.body).find('table')
                                                .addClass('compact')
                                                .css('font-size', 'inherit');
                                        }
                                    }
                                ]
                            });
                        }
                        else {
                            alert(d.status);
                        }
                    }
                });
            }
        }

        function imprimir(type, id) {
            var url = '';
            var urlAction = '';
            if (type == 0) {
                url = '@Url.Content("~/PDF/Reportes/")InformalSupplierInvoiceReport.pdf';
                urlAction = '@Url.Action("InformalSupplierInvoiceReport", "Accounting")?id=' + id
            } else {
                url = '@Url.Content("~/PDF/Reportes/")MinorExpensesInvoiceReport.pdf';
                urlAction = '@Url.Action("MinorExpensesInvoiceReport", "Accounting")?id=' + id
            }
            toastr.info('Estamos procesando su solicitud', 'Por favor espere')
            $.ajax({
                url: urlAction,
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    if (result.status === "OK")
                        window.open(url);
                    else
                        swal({
                            title: "ERROR",
                            text: result.status,
                            type: "error"
                        });

                }
            });
        }

        function borrar() {
            $('#AccountNumber,#SupplierNumber,#daterange,#CurrencyId,#Ncf').val('');
        }
    </script>
}