@model IEnumerable<Seaboard.Intranet.Domain.Models.AccountingInvoiceHeader>
@{
    ViewBag.Title = "Gastos menores";
    Layout = "~/Views/Shared/_AccountingLayout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Gastos menores</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="active">
                <strong>Gastos menores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Gastos menores</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @Html.ActionLink("NUEVA FACTURA", "MinorExpensesInvoice", "Accounting", null, new { @class = "btn btn-primary" })
                    <div class="hr-line-dashed"></div>
                    <table class="table table-striped table-bordered table-hover informationTable">
                        <thead>
                            <tr>
                                <th style="width:10%">No. de factura</th>
                                <th style="width:10%">Ncf</th>
                                <th style="width:15%">Referencia</th>
                                <th style="width:25%">Tipo</th>
                                <th style="width:10%">Fecha</th>
                                <th style="width:10%">Monto total</th>
                                <th style="width:10%">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.ActionLink(item.DocumentNumber, "MinorExpensesInvoice", new { @id = item.DocumentNumber }) </td>
                                <td>@item.Ncf</td>
                                <td>@item.SupplierNumber</td>
                                <td>
                                    @switch (item.ExpenseType)
                                    {
                                        case 1:<span>01 - GASTOS DE PERSONAL</span>
                                            break;
                                        case 2:<span>02 - GASTOS POR TRABAJOS, SUMINISTROS Y SERVICIOS</span>
                                            break;
                                        case 3:<span>03 - ARRENDAMIENTOS</span>
                                            break;
                                        case 4:<span>04 - GASTOS DE ACTIVOS FIJO</span>
                                            break;
                                        case 5:<span>05 - GASTOS DE REPRESENTACIÓN</span>
                                            break;
                                        case 6:<span>06 - OTRAS DEDUCCIONES ADMITIDAS</span>
                                            break;
                                        case 7:<span>07 - GASTOS FINANCIEROS</span>
                                            break;
                                        case 8:<span>08 - GASTOS EXTRAORDINARIOS</span>
                                            break;
                                        case 9:<span>09 - COMPRAS Y GASTOS QUE FORMARON PARTE DEL COSTO DE VENTA</span>
                                            break;
                                        case 10:<span>10 - ADQUISICIONES DE ACTIVOS</span>
                                            break;
                                        case 11:<span>11 - GASTOS DE SEGURO</span>
                                            break;
                                    }


                                </td>
                                <td>@item.DocumentDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.TotalAmount.ToString("C2")</td>
                                <td>
                                    @if (!item.Posted)
                                    {
                                        <i class="badge badge-success">Abierto</i>
                                        }
                                    else
                                    {
                                        <i class="badge badge-danger">Contabilizado</i>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
                                        @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

                                    @section Scripts {
                                        @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")

    <script>
        $(document).ready(function () {
            $('.informationTable').DataTable({
                                            pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[0, "desc"]],
                language: {
                                                    "sProcessing": "Procesando... ",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo":
                        "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                    "sInfoEmpty":
                        "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":
                        "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:  ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                                                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                                                },
                oAria: {
                                                    "sSortAscending":
                        ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending":
                        ": Activar para ordenar la columna de manera descendente"
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                                                extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                                                    }
                                                }
                ]

            });
        });
    </script>
}