@model Seaboard.Intranet.Domain.ViewModels.DispachtHeaderViewModel
@{
    ViewBag.Title = "Despachos";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Despacho</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("DispachtIndex", "Logistic")">Listado de despachos</a>
            </li>
            <li class="active">
                <strong>Despacho</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Despacho</h3>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-1">
                            <button class="btn btn-primary" type="button" onclick="guardar();"><i class="fa fa-save"></i> Guardar</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#modal-container"><i class="fa fa-remove"></i> Anular</button>
                            <button class="btn btn-success" type="button" onclick="Print();"><i class="fa fa-print"></i> Imprimir</button>
                            <button class="btn btn-info" data-toggle="modal" data-target="#modal-SendRequest"><i class="fa fa-send-o"></i> Transferir</button>
                            <br />
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    @Html.Hidden("PostType", 0)

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Datos Basicos</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"> Lineas</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3" onclick="cargarArchivos();"> Adjuntos</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Id. de despacho:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(m => m.DispachtId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Fecha documento:</label>
                                            <div class="col-sm-8 input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.TextBoxFor(m => m.DocumentDate, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Num. de requisicion:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.RequestId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Departamento:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.DepartmentId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Almacen:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.WarehouseId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Solicitado por:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.Requester, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nota:</label>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "5", @placeholder = "Introduzca la nota" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <fieldset class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Id. de articulo:</label>
                                                <div class="col-sm-8 input-group">
                                                    <input id="ItemId" name="ItemId" type="text" class="form-control" readonly="readonly">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Descripción:</label>
                                                <div class="col-sm-8 input-group">
                                                    <input id="ItemDescription" name="ItemDescription" type="text" class="form-control" readonly="readonly">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Cantidad:</label>
                                                <div class="col-sm-7 input-group m-b">
                                                    <input id="Quantity" name="Quantity" type="text" class="form-control">
                                                    <span class="input-group-addon">.00</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Almacen:</label>
                                                <div class="col-sm-7 input-group">
                                                    <input id="Warehouse" name="Warehouse" readonly="readonly" type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Unidad:</label>
                                                <div class="col-sm-7 input-group">
                                                    <input id="UnitId" name="UnitId" readonly="readonly" type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">&nbsp;</label>
                                                <div class="col-sm-8">
                                                    <button class="btn btn-primary" id="addProduct" type="submit" onclick="agregarProducto();">Modificar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                            <div class="row">
                                <div class="table-responsive" id="itemsRows">


                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <form action="javascript:;" method="post" enctype="multipart/form-data" id="attachmentForm" accept-charset="utf-8">
                                    <div class="col-md-9">
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                                            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Seleccionar archivo</span><span class="fileinput-exists">Cambiar</span><input type="file" name="FileData" id="FileData"></span>
                                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Borrar</a>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-success" onclick="atacharArchivo();" data-dismiss="modal">Adjuntar</button>
                                    </div>
                                </form>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="row" id="attachmentFiles">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-SendRequest" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Transferir Despacho</h4>
                <h3>Esta seguro que desea transferir este documento a Dynamics GP ?</h3>
            </div>

            <div class="modal-body">
                <h4>Despacho</h4>
                <hr />

            </div>

            <div class="modal-footer">
                <div class="form-actions no-color">
                    <button type="button" class="btn btn-primary" onclick="transferir();"> Si</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ExchangeRateModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Registrar tasa</h4>
                <h3>Por favor introduzca la tasa del dia para el despacho</h3>
            </div>

            <div class="modal-body">
                <h4>Despacho</h4>
                <hr />
                <div class="form-group">
                    <label class="col-sm-4 control-label">Tasa de cambio:</label>
                    <div class="col-sm-5 input-group m-b">
                        <input id="ExchangeRate" name="ExchangeRate" type="text" class="form-control" value="@ViewBag.ExchangeRate">
                        <span class="input-group-addon">.00</span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="form-actions no-color">
                    <button type="button" class="btn btn-primary" onclick="guardarTasa();"> Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("DeleteDispacht")

@section Styles {
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")


    <script type="text/javascript">
        $(document).ready(function () {
            @Html.Partial("_Scripts")
        });

        function guardar() {
            $('input[name=PostType]').val(0);
            procesarSolicitud();
        }

        function transferir() {
            $('input[name=PostType]').val(1);
            procesarSolicitud();
        }

        function agregarProducto() {
            var isValidItem = true;
            var quantity = parseFloat($('#Quantity').val().trim().replace(/,/g, ""));

            if (!($('#Quantity').val().trim() != '' && !isNaN($('#Quantity').val().trim()))) {
                isValidItem = false;
                toastr.error('Debe de especificar una cantidad', 'Campos requeridos')
            }
            else {
                $.ajax({
                    url: '@Url.Action("GetQuantitiesDispacht", "Logistic")?DispachtId=' + $('#DispachtId').val().trim() + '&ItemNumber=' + $('#ItemId').val().trim(),
                    type: "POST",
                    data: "",
                    dataType: "JSON",
                    cache: false,
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status != 'undefined') {
                            if ((parseFloat(d.status.split('-')[0].trim().replace(/,/g, "")) - parseFloat(d.status.split('-')[1].trim().replace(/,/g, "")))
                                < quantity) {
                                $('#Quantity').val(parseFloat(d.status.split('-')[3].trim().replace(/,/g, "")
                                    .replace(/./g, function (c, i, a) { return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c; })).toFixed(2));
                                isValidItem = false;
                                toastr.error('La cantidad especificada sobrepasa la cantidad disponible', 'Campos requeridos')
                            }
                            else {
                                if (parseFloat(d.status.split('-')[2].trim().replace(/,/g, "")) < quantity) {
                                    $('#Quantity').val(parseFloat(d.status.split('-')[3].trim().replace(/,/g, "")
                                        .replace(/./g, function (c, i, a) { return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c; })).toFixed(2));
                                    isValidItem = false;
                                    toastr.error('La cantidad especificada sobrepasa la cantidad pendiente', 'Campos requeridos')
                                }
                            }

                            if (isValidItem) {
                                purchaseRequestItems.push({
                                    ItemNumber: $('#ItemId').val().trim(),
                                    ItemDescription: $('#ItemDescription').val().trim(),
                                    QtyDispachted: parseFloat($('#Quantity').val().trim()),
                                    UnitId: $('#UnitId').val().trim(),
                                    WarehouseId: $('#Warehouse').val().trim(),

                                });
                                $('#ItemId, #ItemDescription, #Quantity, #UnitId, #Warehouse').val('');
                                GeneratedItemsTable();
                            }
                        }
                    }
                });
            }
        }

        var purchaseRequestItems = [];

        window.onload = function () {
            purchaseRequestItems = @Html.Raw(Json.Encode(@ViewBag.PurchaseRequestItems));
            GeneratedItemsTable();
        };

        function GeneratedItemsTable() {
            if (purchaseRequestItems.length > 0) {
                var $table = $('<table  class="table table-striped table-bordered table-hover" id="itemsTable"/>');
                $table.append('<thead><tr><th>Id. de producto</th><th>Descripción</th><th>Unidad</th><th>Cantidad</th><th>Almacen</th><th></th><th></th></tr></thead>');
                var $tbody = $('<tbody/>');
                $.each(purchaseRequestItems, function (i, val) {
                    var $row = $('<tr/>');
                    $row.append($('<td/>').html(val.ItemNumber));
                    $row.append($('<td/>').html(val.ItemDescription));
                    $row.append($('<td/>').html(val.UnitId));
                    $row.append($('<td/>').html(val.QtyDispachted));
                    $row.append($('<td/>').html(val.WarehouseId));
                    var $remove = $('<a href="#" class="btn btn-white btn-xs"><i class="fa fa-trash fa"></a>');
                    var $edit = $('<a href="#"class="btn btn-white btn-xs"><i class="fa fa-edit fa"></a>');
                    $remove.click(function (e) {
                        if (confirm("Esta seguro que desea eliminar este articulo del despacho ?")) {
                            e.preventDefault();
                            purchaseRequestItems.splice(i, 1);
                            GeneratedItemsTable();
                        }
                    });

                    $edit.click(function (e) {
                        EditarFila(purchaseRequestItems[i]);
                        purchaseRequestItems.splice(i, 1);
                        e.preventDefault();

                    });

                    $row.append($('<td/>').html($remove));
                    $row.append($('<td/>').html($edit));
                    $tbody.append($row);
                });
                $table.append($tbody);
                $('#itemsRows').html($table);
            }
            else {
                $('#itemsRows').html('');
            }
        }

        function EditarFila(requestLine) {
            $('#ItemId').val(requestLine.ItemNumber);
            $('#ItemDescription').val(requestLine.ItemDescription);
            $('#Quantity').val(requestLine.QtyDispachted);
            $('#UnitId').val(requestLine.UnitId);
            $('#Warehouse').val(requestLine.WarehouseId);
        }

        function guardarTasa() {
            var isAllValid = true;
            if (!($('#ExchangeRate').val().trim() != '' && !isNaN($('#ExchangeRate').val().trim()))) {
                isAllValid = false;
                toastr.error('Debe de especificar una tasa de cambio', 'Campos requeridos')
            }
            else {
                $('#ExchangeRateModal').modal('hide');
            }
        }

        function procesarSolicitud() {
            var isAllValid = true;
            if (purchaseRequestItems.length == 0) {
                toastr.error('Por favor debe de insertar articulos para procesar', 'Campos requeridos')
                isAllValid = false;
            }

            if (isAllValid) {
                var data = {
                    DispachtId: $('#DispachtId').val().trim(),
                    RequestId: $('#RequestId').val().trim(),
                    DocumentDate: $('#DocumentDate').val().trim(),
                    Note: $('#Note').val().trim(),
                    DepartmentId: $('#DepartmentId').val().trim(),
                    WarehouseId: $('#WarehouseId').val().trim(),
                    Requester: $('#Requester').val().trim(),
                    PostType: $('#PostType').val(),
                    DispachtLines: purchaseRequestItems,
                    ExchangeRate: parseFloat($('#ExchangeRate').val().trim())
                }
                $.ajax({
                    url: '@Url.Action("SaveDispacht", "Logistic")',
                    type: "POST",
                    async: false,
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status == "OK") {
                            var url = '@Url.Content("~/PDF/Despacho/")' + $('#DispachtId').val() + '.pdf';
                            toastr.info('Estamos procesando su solicitud', 'Por favor espere')
                            $.ajax({
                                url: '@Url.Action("Print", "Logistic")?id=' + $('#DispachtId').val() + '&DocType=2',
                                type: "POST",
                                data: "",
                                cache: false,
                                dataType: "JSON",
                                contentType: "application/json",
                                success: function (result) {
                                    window.open(url);
                                    window.location.href = "@Url.Action("DispachtIndex", "Logistic")";
                                },
                                error: function (result) {
                                    alert(result.status);
                                }
                            });
                        }
                        else {
                            alert(d.status);
                        }
                        $('#submit').val('Guardar');
                    },
                    error: function () {
                        alert('Error. Por favor trate de nuevo.');
                        $('#submit').val('Guardar');
                    }
                });
            }
        }

        function cargarArchivos() {
            $.ajax({
                url: '@Url.Action("LoadAttachmentFiles", "Logistic")?DocumentNumber=' + $('#DispachtId').val().trim(),
                type: "POST",
                data: "",
                dataType: "JSON",
                cache: false,
                contentType: "application/json",
                success: function (result) {
                    attachmentFiles = result;
                    if (attachmentFiles.length > 0) {
                        var $ul = $('<ul class="list-unstyled file-list" />');
                        $.each(attachmentFiles, function (i, val) {
                            var $li = $('<li/>');
                            var $a = $('<a href="@Url.Action("Download", "Logistic")?DocumentNumber=' + $('#DispachtId').val().trim() + '&FileName=' + val.trim() + '"/>')
                            $a.append($('<i class="fa fa-file-pdf-o" />'));
                            $li.append($a.html("  " + val));
                            $ul.append($li);
                        });
                        $('#attachmentFiles').html($ul);
                    }
                    else {
                        $('#attachmentFiles').html('');
                    }
                }
            });
        }

        function atacharArchivo() {
            var data = new FormData();
            data.append("FileData", document.getElementById("FileData").files[0]);
            data.append("DispachtId", $('#DispachtId').val());

            $.ajax({
                url: '@Url.Action("AttachFile", "Logistic")',
                type: "POST",
                data: data,
                dataType: "JSON",
                contentType: false,
                processData: false,
                cache: false,
                success: function (d) {
                    if (d.status == true) {
                        $('#attachmentForm').each(function () {
                            this.reset();
                        });
                        toastr.success('Archivo adjuntado correctamente', 'Adjuntos')
                        cargarArchivos();
                    }
                    else {
                        alert('Ha ocurrido un error');
                    }
                    $('#submit').val('Guardar');
                },
                error: function () {
                    alert('Error. Por favor trate de nuevo.');
                    $('#submit').val('Guardar');
                }
            });
        }

        function Print() {
            var url = '@Url.Content("~/PDF/Despacho/")' + $('#DispachtId').val() + '.pdf';
            toastr.info('Estamos procesando su solicitud', 'Por favor espere')
            $.ajax({
                url: '@Url.Action("Print", "Logistic")?id=' + $('#DispachtId').val() + '&DocType=2',
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    window.open(url);
                },
                error: function (result) {
                    alert(result.status);
                }
            });
        }
    </script>
}