@model Seaboard.Intranet.Domain.ViewModels.DispachtHeaderViewModel
@{
    ViewBag.Title = "Devoluciones";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Despacho</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <a href="@Url.Action("ReturnIndex", "Logistic")">Listado de devoluciones</a>
            </li>
            <li class="active">
                <strong>Devolucion</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Devolucion</h3>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-1">
                            <button class="btn btn-success" type="button" onclick="Print();"><i class="fa fa-print"></i> Imprimir</button>
                            <br />
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Datos Basicos</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"> Lineas</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3" onclick="cargarArchivos();"> Adjuntos</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Id. de despacho:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(m => m.DispachtId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Fecha documento:</label>
                                            <div class="col-sm-8 input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                @Html.TextBoxFor(m => m.DocumentDate, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Num. de requisicion:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.RequestId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Departamento:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.DepartmentId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Almacen:</label>
                                            <div class="col-sm-8 input-group">
                                                @Html.TextBoxFor(model => model.WarehouseId, new { @class = "form-control", @readonly = "" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Nota:</label>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(m => m.Note, new { @class = "form-control", @rows = "5", @readonly = "", @placeholder = "Introduzca la nota" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="row">
                                <div class="table-responsive" id="itemsRows">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="hr-line-dashed"></div>

                            <div class="row" id="attachmentFiles">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("DeleteDispacht")

@section Styles {
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")


    <script type="text/javascript">
        $(document).ready(function () {
            @Html.Partial("_Scripts")
        });

        var purchaseRequestItems = [];

        window.onload = function () {
            purchaseRequestItems = @Html.Raw(Json.Encode(@ViewBag.PurchaseRequestItems));
            GeneratedItemsTable();
        };

        function GeneratedItemsTable() {
            if (purchaseRequestItems.length > 0) {
                var $table = $('<table  class="table table-striped table-bordered table-hover" id="itemsTable"/>');
                $table.append('<thead><tr><th>Id. de producto</th><th>Descripción</th><th>Unidad</th><th>Cantidad</th><th>Almacen</th></tr></thead>');
                var $tbody = $('<tbody/>');
                $.each(purchaseRequestItems, function (i, val) {
                    var $row = $('<tr/>');
                    $row.append($('<td/>').html(val.ItemNumber));
                    $row.append($('<td/>').html(val.ItemDescription));
                    $row.append($('<td/>').html(val.UnitId));
                    $row.append($('<td/>').html(val.QtyDispachted));
                    $row.append($('<td/>').html(val.WarehouseId));
                    $tbody.append($row);
                });
                $table.append($tbody);
                $('#itemsRows').html($table);
            }
            else {
                $('#itemsRows').html('');
            }
        }

        function cargarArchivos() {
            $.ajax({
                url: '@Url.Action("LoadAttachmentFiles", "Logistic")?DocumentNumber=' + $('#DispachtId').val().trim(),
                type: "POST",
                data: "",
                dataType: "JSON",
                cache: false,
                contentType: "application/json",
                success: function (result) {
                    attachmentFiles = result;
                    if (attachmentFiles.length > 0) {
                        var $ul = $('<ul class="list-unstyled file-list" />');
                        $.each(attachmentFiles, function (i, val) {
                            var $li = $('<li/>');
                            var $a = $('<a href="@Url.Action("Download", "Logistic")?DocumentNumber=' + $('#DispachtId').val().trim() + '&FileName=' + val.trim() + '"/>')
                            $a.append($('<i class="fa fa-file-pdf-o" />'));
                            $li.append($a.html("  " + val));
                            $ul.append($li);
                        });
                        $('#attachmentFiles').html($ul);
                    }
                    else {
                        $('#attachmentFiles').html('');
                    }
                }
            });
        }

 
        function Print() {
            var url = '@Url.Content("~/PDF/Despacho/")' + $('#DispachtId').val() + '.pdf';
            toastr.info('Estamos procesando su solicitud', 'Por favor espere')
            $.ajax({
                url: '@Url.Action("Print", "Logistic")?id=' + $('#DispachtId').val() + '&DocType=3',
                type: "POST",
                data: "",
                cache: false,
                dataType: "JSON",
                contentType: "application/json",
                success: function (result) {
                    window.open(url);
                },
                error: function (result) {
                    alert(result.status);
                }
            });
        }
    </script>
}