@model Seaboard.Intranet.Domain.Models.PettyCashRequest

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
                <h3>Esta seguro que desea eliminar este registro?</h3>
            </div>

            <div class="modal-body">
                <h4>Solicitud de caja chica</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayName("No de solicitud")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RequestId)
                    </dd>

                    <dt>
                        @Html.DisplayName("Descripción")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayName("Departamento")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DepartmentId)
                    </dd>

                    <dt>
                        @Html.DisplayName("Solicitado por")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Requester)
                    </dd>
                </dl>
            </div>

            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "PettyCash", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.RequestId)
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>