@using Seaboard.Intranet.Domain
@model IEnumerable<Equipment>
@{
    ViewBag.Title = "Listado de Tarjetas SIM";
    Layout = "~/Views/Shared/_ComputingLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Listado de Tarjetas SIM</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="active">
                <strong>Listado de Tarjetas SIM</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>Busqueda de Tarjetas SIM</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="col-sm-12 col-sm-offset-1">
                                <button class="btn btn-primary" type="button" onclick="consultar();"><i class="fa fa-search"></i> Consultar</button>
                                <button class="btn btn-info" type="button" onclick="borrar();"><i class="fa fa-eraser"></i> Borrar</button>
                                <br />
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listado de equipos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">Estado:</label>
                                        <div class="col-sm-7 input-group">
                                            <select class="form-control" id="StatusType" name="StatusType">
                                                <option value="0">Todos</option>
                                                <option value="1">Asignado</option>
                                                <option value="2">En stock</option>
                                                <option value="3">Dañado</option>
                                                <option value="4">Perdido</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">Departamento:</label>
                                        <div class="col-sm-7 input-group">
                                            <input type="text" name="Department" id="Department" class="form-control" />
                                            <span class="input-group-btn">
                                                <button id="lookupDepartamento" type="button" class="btn btn-primary">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">Rango fecha entrega:</label>
                                        <div class="col-sm-7 input-group">
                                            <input type="text" name="daterange" id="daterange" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="table-responsive" id="invoiceRows">
                                <table class="table table-striped table-bordered table-hover informationTable">
                                    <thead>
                                        <tr>
                                            <th>Id. de tarjeta</th>
                                            <th>Numero de telefono</th>
                                            <th>Asignado a</th>
                                            <th>Departamento</th>
                                            <th>Operadora</th>
                                            <th>Fecha entrega</th>
                                            <th>Equipo asignado</th>
                                            <th>Tipo flota</th>
                                            <th>Tiene datos</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")


    <script>
        var date;
        $(document).ready(function () {
            $.formattedDate = function (dateToFormat) {
                var dateObject = new Date(dateToFormat);
                var day = dateObject.getDate();
                var month = dateObject.getMonth() + 1;
                var year = dateObject.getFullYear();
                day = day < 10 ? "0" + day : day;
                month = month < 10 ? "0" + month : month;
                var formattedDate = month + "/" + day + "/" + year;
                return formattedDate;
            };
            $('.informationTable').DataTable({
                pageLength: 10,
                order: [[0, "desc"]],
                dom: '<"html5buttons"B>lTfgitp',
                language: {
                    "sProcessing": "Procesando... ",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:  ",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                oAria: {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
            $('#daterange').daterangepicker({
                format: 'MM/DD/YYYY',
            }, function (start, end, label) {
                date = start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY');
            });
            $("#lookupDepartamento").lookupbox({
                title: 'Busqueda: ',
                url: '@Url.Action("ListLookup", "Home")?tipo=48&consulta=',
                imgLoader: '<img src="~/Images/ajaxloader.gif">',
                width: 800,
                height: 1000,
                onItemSelected: function (data) {
                    $('input[name=DepartmentId]').val(data.Descripción);
                    $('input[name=PurchaseOrder]').val(data.Descripción);
                    $('input[name=Department]').val(data.Descripción);
                },
                tableHeader: ['Id. de departamento', 'Descripción'],
                hiddenFields: ['DataExtended','DataPlus']
            });
        });

        function consultar() {
            var isValid = true;
            if (isValid) {
                toastr.info('Estamos procesando su solicitud', 'Por favor espere');
                var data = {
                    status: parseInt($('#StatusType').val()),
                    dateRange: date,
                    department: $('#Department').val().trim()
                }
                $.ajax({
                    url: '@Url.Action("SimCardInquiry", "Computing")',
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "JSON",
                    async: false,
                    cache: false,
                    contentType: "application/json",
                    success: function (d) {
                        if (d.status === "OK") {
                            var $table = $(' <table class="table table-striped table-bordered table-hover informationTable">');
                            $table.append(
                                '<thead>' +
                                '<tr>' +
                                '<th>Id. de tarjeta</th>' +
                                '<th>Numero de telefono</th>' +
                                '<th>Asignado a</th>' +
                                '<th>Departamento</th>' +
                                '<th>Operadora</th>' +
                                '<th>Fecha entrega</th>' +
                                '<th>Equipo asignado</th>' +
                                '<th>Tipo flota</th>' +
                                '<th>Tiene datos</th>' +
                                '<th>Estado</th>' +
                                '</tr>' +
                                '</thead>');
                            if (d.registros.length > 0) {
                                var $tbody = $('<tbody/>');
                                $.each(d.registros, function (i, val) {
                                    var $row = $('<tr/>');
                                    var url = '@Url.Action("SimCard","Computing")/' + val.SimCardCode;
                                    var $a = $('<a href="' + url + '"/>').html(val.SimCardCode);
                                    var $status;
                                    switch (parseInt(val.Status)) {
                                        case 1:
                                            $status = $('<i class="badge badge-danger">Asignado</i>');
                                            break;
                                        case 2:
                                            $status = $('<i class="badge badge-warning-light">En stock</i>');
                                            break;
                                        case 3:
                                            $status = $('<i class="badge badge-primary">Dañado</i>');
                                            break;
                                        case 4:
                                            $status = $('<i class="badge badge-warning">Perdido</i>');
                                            break;
                                    }
                                    $row.append($('<td/>').html($a));
                                    $row.append($('<td/>').html(val.PhoneNumber));
                                    $row.append($('<td/>').html(val.AssignedUser));
                                    $row.append($('<td/>').html(val.Department));
                                    $row.append($('<td/>').html(val.Operator.toUpperCase()));
                                    $row.append($('<td/>').html($.formattedDate(new Date(parseInt(val.DeliveryDate.substr(6))))));
                                    $row.append($('<td/>').html(val.AsignedEquipment));
                                    $row.append($('<td/>').html(val.MinuteOpen));
                                    $row.append($('<td/>').html(val.HasData === true ? "SI" : "NO"));
                                    $row.append($('<td/>').html($status));
                                    $tbody.append($row);
                                });
                                $table.append($tbody);
                            }
                            $('#invoiceRows').html($table);
                            $($table).DataTable({
                                pageLength: 10,
                                order: [[0, "desc"]],
                                dom: '<"html5buttons"B>lTfgitp',
                                language: {
                                    "sProcessing": "Procesando... ",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros ",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:  ",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    }
                                },
                                oAria: {
                                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                },
                                buttons: [
                                    { extend: 'copy' },
                                    { extend: 'csv' },
                                    { extend: 'excel', title: 'ExampleFile' },
                                    { extend: 'pdf', title: 'ExampleFile' },

                                    {
                                        extend: 'print',
                                        customize: function (win) {
                                            $(win.document.body).addClass('white-bg');
                                            $(win.document.body).css('font-size', '10px');

                                            $(win.document.body).find('table')
                                                .addClass('compact')
                                                .css('font-size', 'inherit');
                                        }
                                    }
                                ]
                            });
                        }
                        else {
                            alert(d.status);
                        }
                    }
                });
            }
        }
    </script>
}
