@model Seaboard.Intranet.Domain.Models.User

@{
    Layout = "~/Views/Shared/_HRLayout.cshtml";
    ViewBag.Title = "Acceso a vista de volante de pago";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Acceso a vista de volante de pago</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="active">
                <strong>Acceso a vista de volante de pago</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Acceso a vista de volante de pago</h3>
                </div>

                <div class="ibox-content">
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-1">
                            <button class="btn btn-primary" type="button" onclick="procesarSolicitud();"><i class="fa fa-save"></i> Guardar</button>
                            <br />
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1"> Nominas</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="row">
                            <form id="form" action="#" class="wizard-big">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/duallistStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/duallist")
    @Scripts.Render("~/plugins/iCheck")

    <script>
        var UserPermissions = [];
        var Permissions = [];
        $(document).ready(function () {
            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });
            cargarPermisos();
        });

        function cargarPermisos() {
            $.ajax({
                url: '@Url.Action("ListPayrollAccess", "PaymentVoucher")',
                type: "POST",
                data: "",
                dataType: "JSON",
                cache: false,
                contentType: "application/json",
                success: function (result) {
                    Permissions = result;
                    if (Permissions.length > 0) {
                        var $select = $('<select class="form-control dual_select" name="UserPermission[]" multiple />');
                        $.each(Permissions, function (i, val) {
                            var $option;
                            if (val.DataExtended === "0") {
                                $option = $('<option value="' + val.Id + '" />').html(val.Id + " - " + val.Descripción);
                            }
                            else {
                                $option = $('<option selected value="' + val.Id + '" />').html(val.Id + " - " + val.Descripción);
                            }

                            $select.append($option);
                        });
                        $('#form').html($select);
                        $('.dual_select').bootstrapDualListbox({
                            selectorMinimalHeight: 160
                        });
                    }
                    else {
                        $('#form').html('');
                    }
                }
            });
        }

        function procesarSolicitud() {
            var item = String($('select[name="UserPermission[]"]').val());
            var items = item.split(",");
            for (var i = 0; i < items.length; i++) {
                UserPermissions.push({ Id: items[i].trim() });
            }

            var data = {
                payrolls: UserPermissions
            }

            $.ajax({
                url: '@Url.Action("SavePayroll", "PaymentVoucher")',
                type: "POST",
                data: JSON.stringify(data),
                dataType: "JSON",
                contentType: "application/json",
                success: function (d) {
                    if (d.status === "OK") {
                       alert("Guardado correctamente");
                    }
                    else {
                        alert(d.status);
                    }
                }
            });
        }
    </script>
}
