@model Seaboard.Intranet.Web.Controllers.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCC Intranet | Login</title>
    <link href="~/Scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet" />

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">TCC</h1>

            </div>
            <h3>Bienvenido a TCC Intranet</h3>
            <p>
                Su portal interno para los procesos de la empresa.
            </p>
            <p>Acceder con su cuenta de dominio o cuenta unica.</p>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Id.de usuario" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Logearse</button>
            }
            <p class="m-t"> <small>SEABOARD Derechos reservados @DateTime.Now.Year</small> </p>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

        });
    </script>
</body>
</html>