@model Seaboard.Intranet.Domain.Models.PurchaseRequest

@{
    ViewBag.Title = "Reporte de facturas recibidas";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Reporte de facturas recibidas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="active">
                <strong>Reporte de facturas recibidas</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>Reporte de facturas recibidas</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="col-sm-12 col-sm-offset-1">
                                <button class="btn btn-success" type="button" onclick="imprimirReporte();"><i class="fa fa-print"></i> Imprimir</button>
                                <br />
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-content">
                    <div class="hr-line-dashed"></div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha desde:</label>
                            <div class="col-sm-3 input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="fromDate" name="fromDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha hasta:</label>
                            <div class="col-sm-3 input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="toDate" name="toDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    <link href="@Url.Content("~/Content/plugins/lookupbox/lookupbox.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/Scripts/plugins/jquery-ui/jquery-ui.min.js")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/Scripts/plugins/lookupbox/jquery.lookupbox.js")

    <script>
    $(document).ready(function() {
        $('#fromDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
        $('#fromDate').datepicker().datepicker("setDate", new Date());

        $('#toDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
        $('#toDate').datepicker().datepicker("setDate", new Date());
    });

    function imprimirReporte() {

        var data = {
            fromDate: $('#fromDate').val().trim(),
            toDate: $('#toDate').val().trim()
        }

        var url = '@Url.Content("~/PDF/Reportes/")InvoiceMovement.pdf';
        toastr.info('Estamos procesando su solicitud', 'Por favor espere');
        $.ajax({
            url: '@Url.Action("InvoiceMovementReport", "Inventory")',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function(d) {
                if (d.status == "OK") {
                    window.open(url);
                    window.location.href = "@Url.Action("InvoiceMovementReport", "Inventory")";
                    } else {
                        alert(d.status);
                    }
                }
            });
        }

    </script>
}